<span class="pte_character-renderer"
      style="@WidthStyleString"
      @onclick="DispatchPlainTextEditorOnClickAction">
    @if (Character == string.Empty)
    {
        <span style="width: 1ch; height: 100%;"></span>
    }
    else
    {
        @((MarkupString) Character)
    }

    @if(IsFocused && ShouldDisplayCursor) 
    {
        <Cursor />
    }
</span>