@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <h3>RteMap.Count:<br />&nbsp;&nbsp;&nbsp;&nbsp;@PlainTextEditorStatesWrap.Value.Map.Count</h3>
    <h3>RteList.Length:<br />&nbsp;&nbsp;&nbsp;&nbsp;@PlainTextEditorStatesWrap.Value.Array.Length</h3>
</div>
