@using BlazorStudio.ClassLib.Store.PlainTextEditorCase
@using BlazorStudio.ClassLib.UserInterface
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_diff-dialog">
    <div>Currently DiffDialog.razor not implemented. Using this for debugging dump temporarily</div>
    
    @{
        var currentPlainTextEditor = PlainTextEditorSelector.Value;


        if (currentPlainTextEditor is not null)
        {
            <PlainTextEditorFooter PlainTextEditor="currentPlainTextEditor" />
            <PlainTextEditorDebuggingInformation PlainTextEditor="currentPlainTextEditor" />
        }
    }
</div>