@using BlazorStudio.ClassLib.Store.PlainTextEditorCase
@using BlazorStudio.ClassLib.UserInterface
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_diff-dialog">
    <div>Currently not implemented and temporarily using this component for debugging dump</div>
    
    <hr />
    
    @{
        var currentPlainTextEditor = PlainTextEditorSelector.Value;

        if (currentPlainTextEditor is not null)
        {
            <PlainTextEditorDebuggingInformation PlainTextEditor="currentPlainTextEditor" />

            <PlainTextEditorFooter PlainTextEditor="currentPlainTextEditor" />
        }
    }
</div>