@using BlazorStudio.ClassLib.Store.PlainTextEditorCase
@using BlazorStudio.ClassLib.UserInterface
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_diff-dialog">
    @{
        var currentPlainTextEditor = PlainTextEditorSelector.Value;
        
        if (currentPlainTextEditor is not null)
        {
            <div>
                <button class="btn btn-primary"
                        @onclick="() => GetPlainText(currentPlainTextEditor)">
                    GetPlainText
                </button>

                <button class="btn btn-primary"
                        @onclick="() => SaveChanges(currentPlainTextEditor)">
                    Save Changes
                </button>
            </div>

            <pre>
@_plainText
            </pre>

            <PlainTextEditorDebuggingInformation PlainTextEditor="currentPlainTextEditor"
                                                 WidthAndHeightTestResult="WidthAndHeightTestResult" />
        }
    }
    
    @*<BlazorStudio.RazorLib.PlainTextEditorCase.PlainTextEditorDisplay PlainTextEditorKey="currentPlainTextEditor.PlainTextEditorKey"
                                                                      AutomateDispose="false"
                                                                      AllowDispatchEvent="false"
                                                                      AllowOpenDiff="false" />*@
</div>