@using BlazorStudio.ClassLib.Store.PlainTextEditorCase
@using BlazorStudio.ClassLib.UserInterface
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_diff-dialog">
    <BlazorStudio.RazorLib.PlainTextEditorCase.PlainTextEditorDisplay PlainTextEditorKey="PlainTextEditorKey"
                                                                      AutomateDispose="false"
                                                                      AllowOpenDiff="false" />
</div>