@using BlazorStudio.ClassLib.Store.PlainTextEditorCase
@using BlazorStudio.ClassLib.UserInterface
@using BlazorStudio.ClassLib.FileSystemApi
@using BlazorStudio.ClassLib.RoslynHelpers
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_diff-dialog">
    @{
        var currentPlainTextEditor = PlainTextEditorSelector.Value;

        <h1>FileDocumentMap</h1>
        if (SolutionStateWrap.Value?.FileDocumentMap is not null)
        {
            var document = SolutionStateWrap.Value.FileDocumentMap[new AbsoluteFilePathStringValue(currentPlainTextEditor.FileHandle.AbsoluteFilePath)];
            
            var structCollector = new IdentifierCollector();
            structCollector.Visit(document.GetSyntaxRootAsync().Result); // Or any other syntax node
            
            foreach (var identifier in structCollector.Identifiers)
            {
                <div>
                    @identifier
                </div>
            }
        }
        
        if (currentPlainTextEditor is not null)
        {
            <div>
                <button class="btn btn-primary"
                        @onclick="() => GetPlainText(currentPlainTextEditor)">
                    GetPlainText
                </button>

                <button class="btn btn-primary"
                        @onclick="() => SaveChanges(currentPlainTextEditor)">
                    Save Changes
                </button>
            </div>

            <pre>
@_plainText
            </pre>

            <PlainTextEditorDebuggingInformation PlainTextEditor="currentPlainTextEditor"
                                                 WidthAndHeightTestResult="WidthAndHeightTestResult" />
        }
    }
    
    @*<BlazorStudio.RazorLib.PlainTextEditorCase.PlainTextEditorDisplay PlainTextEditorKey="currentPlainTextEditor.PlainTextEditorKey"
                                                                      AutomateDispose="false"
                                                                      AllowDispatchEvent="false"
                                                                      AllowOpenDiff="false" />*@
</div>