<div class="pte_plain-text-editor-header">
    @{
        var localPlainTextEditor = PlainTextEditor;

        <div>
            Font Size: @(localPlainTextEditor.RichTextEditorOptions.FontSizeInPixels)px

            <input type="number" @bind="FontSize" @bind:event="oninput" />
        </div>
        <div>
            Use the <em>F1</em> key to scroll the caret row into view if it is offscreen.
        </div>
    
        <div>
            <DiffDialogEntryPoint PlainTextEditorKey="localPlainTextEditor.PlainTextEditorKey" />
        </div>
    }

    @*<div>
                Toggle Readonly:&nbsp;
                <input type="checkbox" @onchange="IsReadonlyCheckboxOnChange" checked="@currentPlainTextEditor.IsReadonly" />
                &nbsp;->&nbsp;
                @if (currentPlainTextEditor.IsReadonly)
                {
                    <text>Currently <em>ReadOnly</em></text>
                }
                else
                {
                    <text>Currently <em>Editable</em></text>
                }
            </div>*@

    @*@if (AllowOpenDiff)
            {
                <div>
                    <DiffDialogEntryPoint PlainTextEditorKey="PlainTextEditorKey" />
                </div>
            }*@

    @*<button class="btn btn-primary"
                    @onclick="SaveChangesOnClick">
                Save Changes
            </button>*@
</div>
