@using BlazorStudio.ClassLib.FileSystemApi.MemoryMapped
@using Microsoft.CodeAnalysis
<div class="pte_plain-text-editor-header">
    @{
        var localPlainTextEditor = PlainTextEditor;

        <div>
            CharacterWidth:&nbsp;@(localPlainTextEditor.RichTextEditorOptions.WidthOfACharacterInPixels)
            Row Height:&nbsp;@(localPlainTextEditor.RichTextEditorOptions.HeightOfARowInPixels)

            <input type="number" 
                   @bind="FontSize" 
                   @bind:event="oninput"
                   class="bstudio_input bstudio_input-number" />
        </div>

        <div>
            @{
                if (SolutionState.Value.FileAbsoluteFilePathToDocumentMap
                    .TryGetValue(new AbsoluteFilePathStringValue(localPlainTextEditor.FileHandle.AbsoluteFilePath),
                        out var document))
                {
                    <BlazorStudio.RazorLib.SyntaxRootRender.SyntaxNodeTreeViewDialogEntryPoint TitleOverride="@localPlainTextEditor.FileHandle.AbsoluteFilePath.FilenameWithExtension"
                                                                                               GetSyntaxNodeFuncAsync="new Func<Task<SyntaxNode>>(async () => await document.Document.GetSyntaxRootAsync())"/>                    
                }
            }
        </div>
    }
</div>
