@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div id="@IsActiveRowId"
     class="pte_plain-text-editor-row-display @IsActiveCss"
     @onclick="DispatchPlainTextEditorOnClickAction">
    <PlainTextEditorLineNumberDisplay MostDigitsInARowNumber="MostDigitsInARowNumber" />
    
    <CascadingValue Name="NotifyCharacterWasClicked" Value="new Action(() => _characterWasClicked = true)">
        <div class="pte_plain-text-editor-row-display-body"
             style="@WidthStyleCss"
             title="@VirtualCharacterIndexMarkerForStartOfARow[RowIndex]">

            @{
                // Ensure reference to PlainTextEditorRow does
                // not change while looping over tokens
                // by making a local reference to it.
                var currentPlainTextEditorRow = PlainTextEditorRow;

                for (int i = 0; i < currentPlainTextEditorRow.Tokens.Count; i++)
                {
                    var tokenIndex = i;

                    var token = currentPlainTextEditorRow.Tokens[tokenIndex];
                    <CascadingValue Name="TokenIndex" Value="tokenIndex">
                        <TextTokenDisplay @key="token.Key"
                                          TextToken="token" />
                    </CascadingValue>
                }
            }
        </div>
    </CascadingValue>
</div>
