<div class="pte_plain-text-editor-footer">
    <div class="pte_plain-text-editor-footer-entry">.@PlainTextEditor.FileHandle.AbsoluteFilePath.ExtensionNoPeriod</div>
    <div class="pte_plain-text-editor-footer-entry">Length:&nbsp;@PlainTextEditor.FileHandle.VirtualExclusiveEndOfFileCharacterIndex</div>
    <div class="pte_plain-text-editor-footer-entry">Lines:&nbsp;@PlainTextEditor.FileHandle.VirtualCharacterIndexMarkerForStartOfARow.Count</div>
    <div class="pte_plain-text-editor-footer-entry">
        Ln:&nbsp;@(PlainTextEditor.CurrentRowIndex + PlainTextEditor.RowIndexOffset + 1)
        &nbsp;
        Col:&nbsp;@(PlainTextEditor.CurrentCharacterColumnIndex + PlainTextEditor.CharacterColumnIndexOffset + 1)
        &nbsp;
        Pos:&nbsp;@(PlainTextEditor.FileHandle.VirtualCharacterIndexMarkerForStartOfARow[PlainTextEditor.CurrentRowIndex])
    </div>
    <div class="pte_plain-text-editor-footer-entry">(@GetIsCarriageReturnNewLine)</div>
    <div class="pte_plain-text-editor-footer-entry">@PlainTextEditor.FileHandle.Encoding.EncodingName</div>
</div>