@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using ClassLib.Store.PlainTextEditorCase
@using BlazorStudio.ClassLib.Html

<span class="pte_plain-text-editor-text-token-display @TokenClass">
    <CascadingValue Name="StartOfSpan" Value="StartOfSpan">
        @switch (TextToken.Kind)
        {
            case TextTokenKind.StartOfRow:
                break;
            case TextTokenKind.Whitespace:
                <text>
                    @((MarkupString) TextToken.PlainText.EscapeHtml())
                </text>
                break;
            default:
                <text>
                    @((MarkupString) TextToken.PlainText)
                </text>
                break;
        }
    </CascadingValue>
</span>