@if (_templates is null)
{
    <div>Executing "dotnet new list"</div>
}
else if (!_templates.Any())
{
    <div>No C# Project Templates found. attempted: "@getCSharpProjectTemplatesCommand"</div>
}
else
{
    <SelectCSharpProjectTemplate @ref="_selectCSharpProjectTemplate"
                                 Templates="_templates"
                                 ReRenderCallbackFunc="async () => await InvokeAsync(StateHasChanged)" />

    <hr/>

    <input @bind="_templateArguments" @bind:event="oninput" />

    <div>
        Preview Command:<br/>
        
        <div>
            <em>
                @InterpolatedCommand
            </em>
        </div>
        
        <button class="btn btn-primary">Execute</button>
    </div>
}
