<h3>NewCSharpProjectDialog</h3>

<button class="btn btn-primary"
        @onclick="GetCSharpProjectTemplates">
    GetCSharpProjectTemplates
</button>

_output:

<hr/>

<pre>
@GetOutput
</pre>

@code {
    
}