@*
    The Generic Parameter to a Blazor component must be provided
    within the '.razor' file, and the '.razor.cs' file. (if they exist).
*@
@typeparam TItem

@*
    Solely render one 'TItem' using the render fragment.
    --
    One can then measure the dimensions of that result
    to know the height per 'TItem'.
*@
@ItemRenderFragment(Item)

@* 
    Get a JavaScript element reference to '_virtualizeItemLocatorElementReference'.
    --
    The previous sibling will be the singularly rendered 'TItem' using the
    render fragment.
    --
    Measure the previous sibling (the 'TItem') and return its dimensions.
    --
    Dispose of this Blazor component by invoking an EventCallback to notify
    the parent the measurement was taken. 
*@
<div @ref="_virtualizeItemLocatorElementReference">
    
</div>