@typeparam TItem

<div @ref="_topBoundaryElementReference" style="position: absolute; left: 0; top: 0; height:@(_renderData.topBoundaryHeightInPixels)px;"></div>
@if (Items?.Any() ?? false)
{
    if (_dimensions is null)
    {
        <MeasureDimensionsForVirtualization Item="Items.ElementAt(0)"
                                  ItemRenderFragment="ChildContent"
                                  OnAfterMeasurementTakenEventCallback="OnAfterMeasurementTaken" />
    }
    else
    {
        foreach (var itemTuple in _renderData.resultSet ?? Array.Empty<(TItem, double)>())
        {
            <div style="position: absolute; top: @(itemTuple.top)px; width: 100%;">
                @ChildContent(itemTuple.item)
            </div>
        }
    }
}
else
{
    <div>No items</div>
}
<div @ref="_bottomBoundaryElementReference" style="position: absolute; left: 0; top: @(_renderData.topBoundaryHeightInPixels + _dimensions?.HeightOfScrollableContainer ?? 0)px; height:@(_renderData.bottomBoundaryHeightInPixels)px;"></div>
