@typeparam TItem

<VirtualizeBoundaryDisplay VirtualizeBoundary="_virtualizeRenderData.TopVirtualizeBoundary" />
@if (Items?.Any() ?? false)
{
    if (_getDimensions)
    {
        // Measure the dimensions of a single rendered item.
        <MeasureDimensionsForVirtualization Item="Items.ElementAt(0)"
                                  ItemRenderFragment="ChildContent"
                                  OnAfterMeasurementTakenEventCallback="OnAfterMeasurementTaken" />
    }
    else
    {
        // Render the items that are within the virtualization bounds.
        foreach (var wrapper in _virtualizeRenderData.VirtualizeItemWrappers ?? Array.Empty<VirtualizeItemWrapper<TItem>>())
        {
            <div style="position: absolute; top: @(wrapper.TopInPixels)px; width: @(wrapper.WidthInPercentage)%;">
                @ChildContent(wrapper.Item)
            </div>
        }   
    }
}
else
{
    // No items were provided.
    <div>No items</div>
}
<VirtualizeBoundaryDisplay VirtualizeBoundary="_virtualizeRenderData.BottomVirtualizeBoundary" />
