<div @ref="BoundaryElementReference"
     id="@Id"
     style="position: absolute;
            top: @(VirtualizeBoundary.OffsetFromTopInPixels)px; 
            height:@(VirtualizeBoundary.HeightInPixels)px;
            width: @(VirtualizeBoundary.WidthInPercentage)%">
</div>