@typeparam TItem

<div @ref="_topBoundaryElementReference" style="height:@(_renderData.topBoundaryHeightInPixels)px;"></div>
@if (Items?.Any() ?? false)
{
    if (_dimensions is null)
    {
        <MeasureDimensionsForVirtualization Item="Items.ElementAt(0)"
                                  ItemRenderFragment="ChildContent"
                                  OnAfterMeasurementTakenEventCallback="OnAfterMeasurementTaken" />
    }
    else
    {
        foreach (var item in _renderData.resultSet ?? Array.Empty<TItem>())
        {
            @ChildContent(item)
        }
    }
}
else
{
    <div>No items</div>
}
<div @ref="_bottomBoundaryElementReference" style="height:@(_renderData.bottomBoundaryHeightInPixels)px;"></div>
