.bstudio_high-contrast-default-dark-theme {
    --bstudio_primary-background-color: #1e1e1e;
    --bstudio_secondary-background-color: #2d2f34;
    --bstudio_tertiary-background-color: #071c57;
    --bstudio_title-background-color: #1e1e1e;
    --bstudio_header-footer-background-color: #292929;
    --bstudio_primary-font-color: #d1d2ca;
    --bstudio_secondary-font-color: #d1d2ca;
    --bstudio_primary-active-font-color: #ffffff;
    --bstudio_primary-active-background-color: rgb(19 81 150);
    --bstudio_primary-active-unfocused-background-color: rgb(57 67 78);
    --bstudio_primary-border-color: #d1d2ca;
    --bstudio_primary-hover-background-color: rgb(150, 89, 8);
    --bstudio_primary-hover-font-color: #ffffff;
    --bstudio_secondary-hover-background-color: rgb(17, 96, 187);
    --bstudio_secondary-hover-font-color: #ffffff;
    --bstudio_tertiary-hover-background-color: #f7f7f7;
    --bstudio_tertiary-hover-font-color: #191919;
    --bstudio_blazor-ui-error-display-error: #af4343;
    --bstudio_blazor-ui-error-display-hint: #3d61f3;
    --bstudio_danger-primary-background-color: rgb(198, 85, 85);
    --bstudio_danger-secondary-background-color: rgb(255, 158, 158);
    --bstudio_warning-background-color: #767623;
    --bstudio_blue-background-color: #3d61f3;
    --bstudio_success-background-color: #328832;
    --bstudio_task-model-manager-dialog-entry-point-display-background-color: #3f3f3f;
    --bstudio_task-model-display-cancel-button-background-color: #af4343;
    --bstudio_primary-overlay-box-shadow: 0px 0px 2px #ffffff;
    --bstudio_primary-emphasis-font-color: #4d8aea;
    --bstudio_icon-solution-font-color: #a074c4;
    --bstudio_icon-project-font-color: #88d184;
    --bstudio_icon-razor-font-color: #c586c0;
    --bstudio_icon-folder-font-color: #d7ab69;
    --bstudio_icon-json-font-color: #cbc638;
    --bstudio_icon-c-sharp-class-font-color: #519aba;
    --bstudio_icon-cshtml-font-color: #c586c0;
    --bstudio_icon-css-font-color: #e36a6e;
    --bstudio_icon-js-font-color: #519aba;
    --bstudio_icon-ts-font-color: #37b38b;
    --bstudio_icon-start-without-debugging-font-color: #37b38b;
    --bstudio_inactive-tab-background-color: rgb(57 67 78);
    --pte_primary-cursor-color: #ffffff;
    --pte_secondary-cursor-color: transparent;
    --pte_active-row: rgb(207, 124, 13);
    --pte_active-unfocused-row: rgb(117, 124, 132);
    --pte_active-line-number-font-color: rgb(207, 124, 13);
    --pte_hover-font-color: rgb(42, 122, 211);
    --pte_active-border-color: rgb(42, 122, 211);
    --pte_token-keyword: #D988D9;
    --pte_token-type: #76CD69;
    --pte_token-method-declaration: #D6D567;
    --pte_token-parameter-declaration: #85C4E5;
    --pte_token-argument-declaration: #85C4E5;
    --pte_token-trivia-comment: #318323;
    --pte_plain-text-editor-text-token-display-string-literal: #DAA277;
    --pte_plain-text-editor-selection: #245B82;
}
