.bte_light-theme {
    --bte_primary-font-color: black;
    --bte_text-editor-cursor-foreground-color: black;
    --bte_text-selection-background-color: #ADD6FF;
    --bte_header-background-color: #7fa1e1;
    --bte_primary-border-color: black;
    --bte_body-background-color: rgb(253, 253, 253);
    --bte_footer-background-color: #d4d4d4;
    --bte_resize-column-background-color: black;
    --bte_resize-row-background-color: black;
    --bte_dialog-display-background-color: rgb(252, 252, 245);
    --bte_primary-box-shadow-color: #000000;
    --bte_dialog-display-toolbar-background-color: rgb(192, 214, 247);
    --bte_primary-hover-background-color: orange;
    --primary-outline-color: #ADD6FF;
    --primary-active-not-focused-background-color: #d9dcdf;
    --primary-active-focused-background-color: #ADD6FF;
    --bte_text-editor-caret-row-border-color: red;
    --bte_newline-foreground-color: #007F00;
    --bte_newline-background-color: #faeee2;
    --bte_dropdown-display-default-background-color: rgb(253, 253, 253);
    --bte_primary-emphasis-foreground-color: red;
    --bte_method-foreground-color: #7F4E00;
    --bte_type-foreground-color: #2B91AF;
    --bte_parameter-foreground-color: #1F377F;
    --bte_string-literal-foreground-color: #A31515;
    --bte_keyword-foreground-color: #0000FF;
    --bte_comment-foreground-color: #007F00;
    --bte_input-background-color: red;
    --bte_input-font-color: red;
    --bte_text-editor-gutter-border-color: red;
    --bte_text-editor-gutter-background-color: red;
}