.bstudio_default-dark-theme {
    --bstudio_primary-background-color: #1e1e1e;
    --bstudio_secondary-background-color: #2d2f34;
    --bstudio_tertiary-background-color: #071c57;
    --bstudio_primary-font-color: #d1d2ca;
    --bstudio_secondary-font-color: #d1d2ca;
    --bstudio_primary-active-font-color: #ffffff;
    --bstudio_primary-active-background-color: rgb(19 81 150);
    --bstudio_primary-active-unfocused-background-color: rgb(57 67 78);
    --bstudio_primary-border-color: #d1d2ca;
    --bstudio_primary-hover-background-color: rgb(228, 137, 16);
    --bstudio_primary-hover-font-color: #ffffff;
    --bstudio_secondary-hover-background-color: rgb(17, 96, 187);
    --bstudio_secondary-hover-font-color: #ffffff;
    --bstudio_blazor-ui-error-display-error: #af4343;
    --bstudio_blazor-ui-error-display-hint: #3d61f3;
    --bstudio_danger-background-color: #af4343;
    --bstudio_warning-background-color: #767623;
    --bstudio_blue-background-color: #3d61f3;
    --bstudio_success-background-color: #328832;
    --bstudio_task-model-manager-dialog-entry-point-display-background-color: #3f3f3f;
    --bstudio_task-model-display-cancel-button-background-color: #af4343;
    --bstudio_primary-overlay-box-shadow: 0px 0px 2px #ffffff;
    --pte_primary-cursor-color: #ffffff;
    --pte_secondary-cursor-color: transparent;
    --pte_active-row: rgb(228, 137, 16);
    --pte_active-unfocused-row: rgb(117, 124, 132);
    --pte_active-line-number-font-color: rgb(228, 137, 16);
    --pte_hover-font-color: rgb(42, 122, 211);
    --pte_active-border-color: rgb(42, 122, 211);
}
