.bstudio_light-theme {
    --bstudio_primary-font-color: black;
    --bstudio_header-background-color: #cad5eb;
    --bstudio_primary-border-color: black;
    --bstudio_body-background-color: rgb(253, 253, 253);
    --bstudio_footer-background-color: #d4d4d4;
    --bstudio_resize-column-background-color: black;
    --bstudio_resize-row-background-color: black;
    --bstudio_dialog-display-background-color: rgb(252, 252, 245);
    --bstudio_primary-box-shadow-color: #000000;
    --bstudio_dialog-display-toolbar-background-color: #cad5eb;
    --bstudio_primary-hover-background-color: #dda133;
    --bstudio-primary-outline-color: #ADD6FF;
    --bstudio-primary-active-not-focused-background-color: #d9dcdf;
    --bstudio-primary-active-focused-background-color: #ADD6FF;
    --bstudio_dropdown-display-default-background-color: #e6e6e6;
    --bstudio_primary-emphasis-foreground-color: #124df9;
    --bstudio_input-background-color: rgb(250, 250, 250);
    --bstudio_input-font-color: #000000;
    --bstudio_primary-disabled-background-color: #cfcfcf;
    --bstudio_primary-disabled-foreground-color: #25180c;
    --bstudio_primary-disabled-hover-background-color: var(--bstudio_primary-disabled-foreground-color);
    --bstudio_primary-disabled-hover-foreground-color: var(--bstudio_primary-disabled-background-color);
    --bstudio_section-title-background-color: #c7e9c2;
    --bstudio_button-background-color: #536fce;
    --bstudio_button-foreground-color: rgb(253, 253, 253);
    --bstudio_icon-solution-font-color: #8f38d6;
    --bstudio_icon-project-font-color: #23d519;
    --bstudio_icon-razor-font-color: #c509db;
    --bstudio_icon-folder-font-color: #a46d00;
    --bstudio_icon-json-font-color: #beb106;
    --bstudio_icon-c-sharp-class-font-color: #2B91AF;
    --bstudio_icon-cshtml-font-color: #c509db;
    --bstudio_icon-css-font-color: #de4b50;
    --bstudio_icon-js-font-color: #519aba;
    --bstudio_icon-ts-font-color: #37b38b;
    --bstudio_icon-start-without-debugging-font-color: #37b38b;
    --bstudio_notification-display-background-color: rgb(252, 252, 245);
    --bstudio_notification-display-toolbar-background-color: rgb(192, 214, 247);
    --bstudio_active-button-background-color: #d889e8;
    --bstudio_active-button-primary-font-color: var(--bstudio_primary-font-color);
    --bstudio_tertiary-background-color: #f3f0dc;
    --bstudio_tertiary-foreground-color: var(--bstudio_primary-font-color);
}