.bte_dark-theme {
    --bte_primary-font-color: #d2d2d2;
    --bte_text-editor-cursor-foreground-color: #e6e6e6;
    --bte_text-selection-background-color: #24557d;
    --bte_header-background-color: #2a2a2e;
    --bte_primary-border-color: #d7d7d7;
    --bte_body-background-color: #1E1E1E;
    --bte_footer-background-color: #2b2d2d;
    --bte_resize-column-background-color: #d7d7d7;
    --bte_resize-row-background-color: #d7d7d7;
    --bte_dialog-display-background-color: #2d2f34;
    --bte_primary-box-shadow-color: #f5f5f5;
    --bte_dialog-display-toolbar-background-color: #071c57;
    --bte_primary-hover-background-color: #956100;
    --primary-outline-color: #2d498b;
    --primary-active-not-focused-background-color: #566060;
    --primary-active-focused-background-color: #2d498b;
    --bte_text-editor-caret-row-border-color: #a46c00;
    --bte_newline-foreground-color: #4e9a41;
    --bte_newline-background-color: #424242;
    --bte_dropdown-display-default-background-color: rgb(48, 51, 101);
    --bte_primary-emphasis-foreground-color: #4d8aea;
    --bte_method-foreground-color: #C9C96E;
    --bte_type-foreground-color: #4EC9B0;
    --bte_parameter-foreground-color: #9CDCFE;
    --bte_string-literal-foreground-color: #D69D85;
    --bte_keyword-foreground-color: #569CD6;
    --bte_comment-foreground-color: #57A64A;
    --bte_input-background-color: #2d2f34;
    --bte_input-font-color: #d1d2ca;
    --bte_text-editor-gutter-border-color: #273840;
    --bte_text-editor-gutter-background-color: #1f2229;
}