@using BlazorStudio.ClassLib.Store.ThemeCase
@using BlazorStudio.RazorLib.FontSettings

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_settings-display">
    Settings Display
    
    <ButtonDisplay OnClickFunc="PersistSettingsLocallyOnClick">
        Persist Settings Locally OnClick
    </ButtonDisplay>
    
    <FontSettingsDisplay />

    <hr class="bstudio_hr"/>

    <IconSettingsDisplay/>
    
    <hr class="bstudio_hr"/>

    <div>
        Active Theme:&nbsp;@ThemeStateWrap.Value.ActiveThemeRecord.ClassCssString
    </div>
    
    <hr class="bstudio_hr"/>
    
    @foreach (var theme in ThemeFacts.DefaultThemeRecords)
    {
        <ButtonDisplay OnClickFunc="async () => DispatchSetThemeStateAction(theme)">
            @theme.ClassCssString
        </ButtonDisplay>
    }
    
    <hr class="bstudio_hr"/>

    <div>
        Show NewLines:&nbsp;
        <input type="checkbox" @bind="GlobalShowNewlines" />
    </div>
    
    <div>
        Show Whitespace:&nbsp;
        <input type="checkbox" @bind="GlobalShowWhitespace" />
    </div>
</div>