@using BlazorStudio.RazorLib.FontSettings
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorALaCarte.Shared.Settings

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_settings-display">
    
    <div class="bstudio_settings-group">
        <h3>
            Appearance
            
            <ButtonDisplay OnClickFunc="PersistSettingsLocallyOnClick"
                           CssStyleString="display: inline; font-size: 1rem;">
                Save Appearance Settings
            </ButtonDisplay>
        </h3>
        
        <div style="margin-top: 7px;"></div>
        <ThemeSelectTheme/>
    
        <div style="margin-top: 7px;"></div>
        <FontSettingsDisplay/>
    
        <div style="margin-top: 7px;"></div>
        <IconSettingsDisplay/>
    </div>

    <div class="bstudio_settings-group">
        <h3>
            Editor
            
            <span style="font-size: 1rem;">(these settings auto-save on change)</span>
        </h3>
        
        <TextEditorSettings/>
    </div>

</div>