@using BlazorStudio.RazorLib.FontSettings
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorALaCarte.Shared.Settings

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_settings-display">
    
    <div class="bstudio_settings-group">
        <h3>Appearance</h3>
        
        <div style="margin-top: 7px;"></div>
        <ThemeSelectTheme/>
    
        <div style="margin-top: 7px;"></div>
        <ButtonDisplay OnClickFunc="PersistSettingsLocallyOnClick">
            Persist Settings Locally OnClick
        </ButtonDisplay>
    
        <div style="margin-top: 7px;"></div>
        <FontSettingsDisplay/>
    
        <div style="margin-top: 7px;"></div>
        <IconSettingsDisplay/>
    </div>

    <div class="bstudio_settings-group">
        <h3>Editor</h3>
        
        <TextEditorSettings/>
    </div>

</div>