@using BlazorStudio.RazorLib.FontSettings
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorALaCarte.Shared.Options

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_settings-display">
    
    <div class="bstudio_settings-group">

        <InputAppFontSize/>
        <InputAppIconSize/>
        <InputAppTheme/>
    </div>

    <div class="bstudio_settings-group">
        <h3>
            Editor

            <span style="font-size: 1rem;">(these settings auto-save on change)</span>
        </h3>

        <TextEditorSettings InputElementCssClass="bstudio_input"/>
    </div>

</div>