@using BlazorStudio.ClassLib.Store.ThemeCase
@using BlazorStudio.RazorLib.FontSettings
@using BlazorTextEditor.RazorLib.HelperComponents

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_settings-display">
    Settings Display
    
    <ButtonDisplay OnClickFunc="PersistSettingsLocallyOnClick">
        Persist Settings Locally OnClick
    </ButtonDisplay>
    
    <FontSettingsDisplay />

    <hr class="bstudio_hr"/>

    <IconSettingsDisplay/>
    
    <hr class="bstudio_hr"/>
    
    <TextEditorInputFontSize InputElementCssClassString="bstudio_input"/>
    
    <hr class="bstudio_hr"/>

    <div>
        Active Theme:&nbsp;@ThemeStateWrap.Value.ActiveThemeRecord.ClassCssString
    </div>
    
    <hr class="bstudio_hr"/>
    
    @foreach (var theme in ThemeFacts.DefaultThemeRecords)
    {
        <ButtonDisplay OnClickFunc="async () => DispatchSetThemeStateAction(theme)">
            @theme.ClassCssString
        </ButtonDisplay>
    }

    <hr class="bstudio_hr"/>

    <TextEditorInputShowNewLines/>
    <TextEditorInputShowWhitespace/>
    
</div>