@using BlazorStudio.RazorLib.FontSettings
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorALaCarte.Shared.Settings

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_settings-display">
    Settings Display
    
    <ThemeSelectTheme/>
    
    <ButtonDisplay OnClickFunc="PersistSettingsLocallyOnClick">
        Persist Settings Locally OnClick
    </ButtonDisplay>
    
    <FontSettingsDisplay />

    <hr class="balc_hr"/>

    <IconSettingsDisplay/>
    
    <hr class="balc_hr"/>
    
    <div>
        Active Theme:&nbsp;@ThemeStateWrap.Value.ActiveThemeRecord.CssClassString
    </div>
    
    <hr class="balc_hr"/>

    <TextEditorSettings/>
    
</div>