
<div class="bstudio_settings-dialog">
    <ExpansionDisplay TitleCssClass="bstudio_settings-section-title">
        <TitleRenderFragment>
            Themes
        </TitleRenderFragment>
        <BodyRenderFragment>
            <div class="bstudio_settings-section-body">
                <BlazorStudio.RazorLib.Theme.ThemeSelectTreeView/>
            </div>
        </BodyRenderFragment>
    </ExpansionDisplay>
    
    <hr />

    <ExpansionDisplay TitleCssClass="bstudio_settings-section-title">
        <TitleRenderFragment>
            Terminals
        </TitleRenderFragment>
        <BodyRenderFragment>
            <div class="bstudio_settings-section-body">
                <BlazorStudio.RazorLib.Terminal.TerminalSettingsDisplay />
            </div>
        </BodyRenderFragment>
    </ExpansionDisplay>
    
    <hr />
    
    <ExpansionDisplay TitleCssClass="bstudio_settings-section-title">
        <TitleRenderFragment>
            Transformable
        </TitleRenderFragment>
        <BodyRenderFragment>
            <div class="bstudio_settings-section-body">
                <BlazorStudio.RazorLib.Transformable.TransformableSettings />
            </div>
        </BodyRenderFragment>
    </ExpansionDisplay>
    
    <hr />

    <ExpansionDisplay TitleCssClass="bstudio_settings-section-title">
        <TitleRenderFragment>
            Icon
        </TitleRenderFragment>
        <BodyRenderFragment>
            <div class="bstudio_settings-section-body">
                <BlazorStudio.RazorLib.Icons.IconOptionSettings/>
            </div>
        </BodyRenderFragment>
    </ExpansionDisplay>
    
    <hr />
    
    <ExpansionDisplay TitleCssClass="bstudio_settings-section-title">
        <TitleRenderFragment>
            Font
        </TitleRenderFragment>
        <BodyRenderFragment>
            <div class="bstudio_settings-section-body">
                <BlazorStudio.RazorLib.Font.FontOptionSettings/>
            </div>
        </BodyRenderFragment>
    </ExpansionDisplay>
    
    <hr />

</div>
