@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<button class="bstudio_counter-display btn btn-primary"
        @onclick="DispatchIncrementCounterStateAction">
    
        @CounterStateWrap.Value.Count
</button>