@using Microsoft.AspNetCore.Components.Web.Virtualization
@using BlazorStudio.RazorLib.VirtualizeComponentExperiments

<hr />

@{
    var takeCount = 5;
    
    var musicBands = MusicBandRepository.GetMusicBands();

    var debugItems = musicBands.TakeLast(takeCount).OrderBy(x => x.SeedIndex).ToArray();
}

<div style="background-color: #c8c9f1;">
    <h4>start of debug</h4>
    <br/>
    
    total musicBands.Count:&nbsp;@musicBands.Count
    <hr/>
    <br/>
    The last @takeCount music bands in the repository
    @foreach (var musicBand in debugItems)
    {
        <MusicBandDisplay @key="musicBand.SeedIndex" MusicBand="musicBand"/>
    }

    <br/>
    <h4>end of debug</h4>
</div>

<hr />

<div style="height: 500px; overflow-y: scroll; position: relative;">
    <VirtualizeCoordinateSystemExperimental Items="musicBands" 
                                            Context="musicBand"
                                            OverscanCount="4">
        <MusicBandDisplay @key="musicBand.SeedIndex" MusicBand="musicBand" />
    </VirtualizeCoordinateSystemExperimental>
</div>

<hr />