@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Experiments.Server.VirtualizeComponents

<hr />

<div style="height: 500px; overflow-y: scroll;">
    <VirtualizeCoordinateSystem Items="MusicBandRepository.GetMusicBands()" Context="musicBand">
        <MusicBandDisplay @key="musicBand.SeedIndex" MusicBand="musicBand" />
    </VirtualizeCoordinateSystem>
</div>

<hr />