<div class="tt_music-band">
    <div class="tt_music-band-title">
        @MusicBand.BandName&nbsp;<span title="@nameof(MusicBand.Genre)">(@MusicBand.Genre)</span>
    </div>
    
    <div class="tt_music-band-body">
        @foreach (var song in MusicBand.MusicSongs)
        {
            <MusicSongDisplay MusicSong="song" />
        }
    </div>
</div>