<div class="tts_music-song">
    <ul>
        <li>
            <a href="@MusicSong.UrlToSong" 
               title="@nameof(MusicSong.Genre): (@MusicSong.Genre)"
               target="_blank">
                
                @MusicSong.SongName
            </a>
        </li>
    </ul>
</div>