@using BlazorStudio.ClassLib.TextEditor.IndexWrappers
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ShouldRenderBoundary ShouldRenderFunc="ShouldRenderFunc">
    <h3>TextEditorDisplay (@TextEditorKey.Guid)</h3>

    <div class="pte_plain-text-editor-wrapping">
        <div class="pte_plain-text-editor-display">
            @if (_textPartition is not null)
            {
                foreach (var textSpan in _textPartition.TextSpanRows)
                {
                    <div style="background-color: @GetBackgroundColor()">
                        <pre>
    @textSpan.GetText
    </pre>    
                    </div>
                }
            }
        </div>
    </div>
</ShouldRenderBoundary>