<div>
    @if (TextPartition is not null)
    {
        foreach (var textSpanRow in TextPartition.TextSpanRows)
        {
            <div>@textSpanRow.GetText</div>
        }
    }
    
    <ExpansionDisplay TitleCssClass="bstudio_settings-section-title">
        <TitleRenderFragment>
            Edits&nbsp;Count:&nbsp;<em>@TextEditor.EditBlocks.Length</em>
        </TitleRenderFragment>
        <BodyRenderFragment>
            <div style="overflow: auto; height: 5em;">
                @{
                    foreach (var editBlock in TextEditor.EditBlocks)
                    {
                        var message = editBlock.GetUserInterfaceDisplayMessage();
                        <div style="white-space: nowrap;">
                            @foreach (var character in message)
                            {
                                if (character == '\t')
                                {
                                    <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                }
                                else if (character == ' ')
                                {
                                    <text>&nbsp;</text>
                                }
                                else
                                {
                                    <text>@character</text>
                                }
                            }
                        </div>
                    }
                }
            </div>
        </BodyRenderFragment>
    </ExpansionDisplay>
</div>