<textarea class="pte_cursor-display"
          style="width: 1.5px; height: @(RowHeightInPixels)px; @CssStyleString"
          @ref="_textAreaCursorDisplayElementReference">
</textarea>

<div class="pte_caret-row"
     style="width: 100%; height: @(RowHeightInPixels)px; top: @(TextCursor.IndexCoordinates.RowIndex.Value * RowHeightInPixels)px;">
</div>