<div @ref="_virtualizeCoordinateSystemBoundaryElementReference"
     style="position: absolute; @CssStyle"
     id="bstudio_@(VirtualizeCoordinateSystemBoundaryKind)_@(IntersectionObserverMapKey)"
     class="bstudio_@VirtualizeCoordinateSystemBoundaryKind">
    
</div>