@using BlazorStudio.ClassLib.Context
@using BlazorStudio.ClassLib.Store.TerminalCase

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.NuGetPackageManagerContext"
                 ClassCssString="bstudio_nu-get-package-manager-display"
                 StyleCssString="height: 100%; width: 100%;">

    <div class="bstudio_section-title">
        NuGet
    </div>

    <div class="bstudio_section-body"
         style="width: 100%;">
        
        TODO: add back deleted logic from git
    </div>
</ContextBoundary>
