@using BlazorStudio.ClassLib.Context
@using Microsoft.AspNetCore.Components

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.GitContext"
                 ClassCssString="bstudio_git-display"
                 StyleCssString="height: 100%; width: 100%;">

    @{
        var gitState = GitStateWrap.Value;
    }
    
    <div class="bstudio_section-title">
        Git Changes
    </div>

    <div class="bstudio_section-body"
         style="width: 100%;">
        
        @if (gitState.GitFolderAbsoluteFilePath is not null)
        {
            <text>
                @gitState.GitFolderAbsoluteFilePath.GetAbsoluteFilePathString()
            </text>
        }
        else
        {
            <div>
                @if (gitState.GitFolderAbsoluteFilePath is null)
                {
                    <div>gitState.GitFolderAbsoluteFilePath is null</div>
                }
                else
                {
                    <div>@gitState.GitFolderAbsoluteFilePath</div>
                }
                
                @if (gitState.MostRecentTryFindGitFolderInDirectoryAction is not null)
                {
                    <span>
                        MostRecentTryFindGitFolderInDirectoryAction:&nbsp;
                        @gitState.MostRecentTryFindGitFolderInDirectoryAction.DirectoryAbsoluteFilePath.GetAbsoluteFilePathString()
                    </span>

                    if (gitState.GitFolderAbsoluteFilePath is null)
                    {
                        <button class="balc_button"
                                @onclick="GitInitOnClickAsync">
                            Git Init
                        </button>
                    }
                }
                else
                {
                    <div>
                        gitState.MostRecentTryFindGitFolderInDirectoryAction is null
                    </div>
                }
            </div>
        }
    </div>
</ContextBoundary>
