@using BlazorStudio.ClassLib.Context
@using Microsoft.AspNetCore.Components

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.GitContext"
                 ClassCssString="bstudio_git-display"
                 StyleCssString="height: 100%; width: 100%;">

    @{
        var gitState = GitStateWrap.Value;
    }
    
    <div class="bstudio_section-title">
        Git Changes
    </div>

    <div class="bstudio_section-body"
         style="width: 100%;">
        
        @if (gitState.GitFolderAbsoluteFilePath is null)
        {
            <div>
                <button class="balc_button"
                        @onclick="GitInitOnClickAsync">
                    Git Init
                </button>
                
                @if (gitState.MostRecentTryFindGitFolderInDirectoryAction is not null)
                {
                    <span>
                        (Last attempt to find the .git folder was in the directory:
                        
                        <em class="balc_em">
                            @gitState.MostRecentTryFindGitFolderInDirectoryAction.DirectoryAbsoluteFilePath.GetAbsoluteFilePathString()
                        </em>
                        )
                    </span>
                }
            </div>
        }
        else
        {
            <div>
                .git folder located:
                
                <em class="balc_em">
                    @gitState.GitFolderAbsoluteFilePath.GetAbsoluteFilePathString()
                </em>
            </div>
        }
    </div>
</ContextBoundary>
