<div class="bte_menu-display"
     tabindex="0"
     @ref="_menuDisplayElementReference">
    
    @foreach (var menuOption in MenuRecord.MenuOptions)
    {
        <MenuOptionDisplay MenuOptionRecord="menuOption"
                           ActiveMenuOptionRecord="_activeMenuOptionRecord"/>
    }
</div>