@using BlazorStudio.ClassLib.Store.MenuCase
@using BlazorStudio.ClassLib.Store.DropdownCase
<div class="bstudio_menu-option-display">

    @if (MenuOptionRecord.Children.Any())
    {
        <div class="bstudio_menu-option-display @HasSubmenuOpenCssClass"
         @onclick="() => DispatchToggleActiveDropdownKeyActionOnClick(_dropdownKey)">

            @MenuOptionRecord.DisplayName&nbsp;
            <IconChevronRight />

            <DropdownDisplay Dimensions="_dropdownDimensions"
                         DropdownKey="_dropdownKey"
                         DropdownKind="DropdownKind.Horizontal"
                         CloseOnOutOfBoundsClick="false">

                <MenuDisplay MenuOptionRecords="MenuOptionRecord.Children" />

            </DropdownDisplay>
        </div>
    }
    else
    {
        @MenuOptionRecord.DisplayName
    }
</div>