@using BlazorStudio.ClassLib.Store.MenuCase
@using BlazorStudio.ClassLib.Store.DropdownCase
<div class="bstudio_menu-option-display @HasSubmenuOpenCssClass"
     @onclick:stopPropagation="true"
     @onclick="() => DispatchToggleActiveDropdownKeyActionOnClick(_dropdownKey)">

    @if (MenuOptionRecord.Children.Any())
    {
        <text>@(MenuOptionRecord.DisplayName)&nbsp;</text>
        <IconChevronRight />

        <DropdownDisplay Dimensions="_dropdownDimensions"
                     DropdownKey="_dropdownKey"
                     DropdownKind="DropdownKind.Horizontal"
                     CloseOnOutOfBoundsClick="false">

            <MenuDisplay MenuOptionRecords="MenuOptionRecord.Children" />

        </DropdownDisplay>
    }
    else
    {
        @MenuOptionRecord.DisplayName
    }
</div>