<div class="bte_menu-display"
     tabindex="-1"
     @ref="_menuDisplayElementReference"
     @onclick:stopPropagation="true"
     @onkeydown:stopPropagation="true"
     @onkeydown="HandleOnKeyDown">

    <CascadingValue Value="RestoreFocusToThisMenu" Name="ReturnFocusToParentAction">
        @for (var i = 0; i < MenuRecord.MenuOptions.Length; i++)
        {
            var index = i;
            var menuOption = MenuRecord.MenuOptions[index];
            
            <MenuOptionDisplay MenuOptionRecord="@menuOption"
                               ActiveMenuOptionRecordIndex="@_activeMenuOptionRecordIndex"
                               Index="index" />
        }
    </CascadingValue>
</div>