@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorStudio.ClassLib.Store.MenuCase
@using BlazorStudio.ClassLib.Store.DropdownCase

<div class="bstudio_menu-option-display @HasSubmenuOpenCssClass"
     @onclick:stopPropagation="true"
     @onclick="() => DispatchToggleActiveDropdownKeyActionOnClick(_dropdownKey)">

    @if (MenuOptionRecord.Children.Any())
    {
        <text>@(MenuOptionRecord.DisplayName)&nbsp;</text>
        <IconChevronRight />

        <DropdownDisplay Dimensions="_dropdownDimensions"
                     DropdownKey="_dropdownKey"
                     DropdownKind="DropdownKind.Horizontal"
                     CloseOnOutOfBoundsClick="false">

            <MenuDisplay MenuOptionRecords="MenuOptionRecord.Children" />

        </DropdownDisplay>
    }
    else
    {
        <div @onclick="() => _displayWidget = !_displayWidget">
            @MenuOptionRecord.DisplayName
        </div>

        @if (_displayWidget && (MenuOptionRecord.WidgetType is not null))
        {
            <div @onclick:stopPropagation="true"
                 class="bstudio_menu-option-display-widget">
                <DynamicComponent Type="MenuOptionRecord.WidgetType"
                                  Parameters="MenuOptionRecord.WidgetParameters" />
            </div>
        }
    }
</div>