@using BlazorStudio.ClassLib.Contexts
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary @ref="_contextBoundary"
                 CssClassString="bstudio_nuget-package-manager bstudio_focus-display-large"
                 ContextKey="ContextFacts.NugetPackageManagerDisplayContext.ContextKey">

    <h5 class="bstudio_large-title" style="padding: 5px;">NugetPackageManager</h5>

    <div class="bstudio_nuget-package-manager-body" style="padding: 0 5px; height: calc(100% - 2rem - 10px);">
        @{
            var localSolutionExplorerState = SolutionExplorerStateWrap.Value;

            if (localSolutionExplorerState.SolutionAbsoluteFilePath is null)
            {
                <div>
                    SolutionAbsoluteFilePath is null, use the InputFile dialog to select a SolutionAbsoluteFilePath
                    directory.
                </div>
                <div>
                    <BlazorStudio.RazorLib.InputFile.InputFileDialogEntryPoint/>
                </div>
            }
            else
            {
                <div>
                    Active Solution:<br/>
                    <em>@localSolutionExplorerState.SolutionAbsoluteFilePath.FilenameWithExtension</em>
                </div>
                
                <hr/>
                
                <input type="checkbox"
                       class="bstudio_input bstudio_input-checkbox" 
                       @onkeydown:stopPropagation="true" 
                       @bind="_includePrerelease"/>
                                                               
                <text>&nbsp;Include Prerelease?</text>
                       
                <br/>
                
                <div>
                    <input class="bstudio_input bstudio_input-text" 
                           @bind="_nugetQuery"
                           @bind:event="oninput"
                           @onkeydown="HandleOnKeyDown"
                           @onkeydown:stopPropagation="true" />
                </div>
                
                <div>
                    Query:<br/>
                    <em style="margin-left: 15px; border-left: 1px solid var(--bstudio_primary-border-color)">
                        @NugetPackageManagerProvider.BuildQuery(_nugetQuery, _includePrerelease).Query
                    </em>
                </div>

                <hr/>
            }
        }
    </div>
</ContextBoundary>