@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_nuget-package-manager"
     @ref="_nugetPackageManagerDisplayElementReference"
     tabindex="0">
    NugetPackageManager
</div>