<div class="bstudio_blazor-ui-error-display">
    <div class="bstudio_blazor-ui-error-display-error">
        ERROR: @RichErrorModel.Message
    </div>
    <div class="bstudio_blazor-ui-error-display-hint">
        HINT: @RichErrorModel.Hint
    </div>
</div>