<div class="bstudio_notification-display-body">
    <div>
        <div>@NotificationRecord.Title</div>

        <button class="btn btn-primary"
                @onclick="DismissOnClick">
            Dismiss
        </button>
    </div>

    <hr/>

    <CascadingValue Value="NotificationRecord">
        <DynamicComponent Type="NotificationRecord.Type"
                          Parameters="NotificationRecord.Parameters ?? new Dictionary<string, object?>()"/>
    </CascadingValue>
</div>