<div class="bstudio_notification-display-body">
    <div>
        <div>@NotificationRecord.Title</div>

        @if (NotificationRecord.AutomaticDisposalTimeSpan is not null)
        {
            <text>
                @NotificationRecord.AutomaticDisposalTimeSpan.Value.TotalSeconds seconds auto-close
                <br/>
            </text>
        }

        <button class="btn btn-primary"
                @onclick="DismissOnClick">
            Dismiss
        </button>
    </div>

    <hr/>

    <CascadingValue Value="NotificationRecord">
        <DynamicComponent Type="NotificationRecord.Type"
                          Parameters="NotificationRecord.Parameters ?? new()"/>
    </CascadingValue>
</div>