<div class="bstudio_notification-display-body">
    <CascadingValue Value="NotificationRecord">
        <DynamicComponent Type="NotificationRecord.Type"
                          Parameters="NotificationRecord.Parameters ?? new()"/>
    </CascadingValue>
</div>