@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_notifications-initializer">
    @{
        var notificationStates = NotificationStatesWrap.Value;

        foreach (var notification in notificationStates.List)
        {
            <NotificationDisplay @key="notification.NotificationKey"
                                 NotificationRecord="notification"/>
        }
    }
</div>