@using BlazorStudio.ClassLib.Context
@using BlazorStudio.ClassLib.Store.EditorCase
@using BlazorStudio.RazorLib.ContextCase
@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.RazorLib.TextEditor

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.EditorContext"
                 ClassCssString="bstudio_editor-display"
                 StyleCssString="@EditorElementDimensions.StyleString">

    <div class="bstudio_section-title">
        Editor
    </div>

    <div class="bstudio_section-body">
        @{
            var editorState = EditorStateWrap.Value;
            var textEditorResourceMapState = TextEditorResourceMapStateWrap.Value;

            var textEditorList = TextEditorService.TextEditorStates.TextEditorList;
            
            var activeTextEditor = textEditorList
                .FirstOrDefault(x =>
                    x.Key == editorState.ActiveTextEditorKey);

            <div class="bstudio_editor-tabs-bar">
                @for (var i = 0; i < textEditorList.Count; i++)
                {
                    var index = i;
                    var textEditor = textEditorList[index];

                    <EditorTab TabIndex="index"
                               TextEditor="textEditor"/>
                }
            </div>
            
            if (activeTextEditor is not null)
            {
                _ = textEditorResourceMapState.ResourceMap
                    .TryGetValue(
                        activeTextEditor.Key, 
                        out var resource);

                <TextEditorDisplay @ref="_textEditorDisplay"
                                   TextEditorKey="activeTextEditor.Key"
                                   TabIndex="0"
                                   ClassCssString="bstudio_text-editor-display"
                                   AfterOnKeyDownAsync="HandleAfterOnKeyDownAsync">
                    
                    <OnContextMenuRenderFragment>
                        <EditorContextMenu TextEditor="activeTextEditor"
                                           TextEditorDisplay="_textEditorDisplay"/>
                    </OnContextMenuRenderFragment>
                </TextEditorDisplay>
                
                <EditorFooter TextEditor="activeTextEditor"
                              TextEditorDisplay="_textEditorDisplay"
                              AbsoluteFilePath="resource"/>
            }
            else
            {
                <ButtonDisplay OnClickFunc="async () => await EditorState.ShowInputFileAsync(Dispatcher, TextEditorService, textEditorResourceMapState)">
                    Open File
                </ButtonDisplay>
            }
        }
    </div>
</ContextBoundary>