@using BlazorStudio.ClassLib.Contexts
@using BlazorTextEditor.RazorLib

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary CssClassString="bstudio_editor-display bstudio_focus-display-large"
                 CssStyleString="@Dimensions.DimensionsCssString"
                 ContextKey="ContextFacts.EditorDisplayContext.ContextKey">

    <h5 class="bstudio_large-title" style="padding: 5px;">Editor Display</h5>

    
    @{
        var localTestTextEditor = TestTextEditor;

        if (localTestTextEditor is not null)
        {
            <TextEditorDisplay TextEditorKey="_testTextEditorKey"
                               StyleCssString="width: 100%; height: 100%;" />       
        }
    }
    
    @* TODO: OLD *@
    @* <div style="padding: 0 5px; height: calc(100% - 2rem - 10px);"> *@
    @*     @{ *@
    @*         var localTextEditorStates = TextEditorStatesWrap.Value; *@
    @*         var localEditorState = EditorStateWrap.Value; *@
    @* *@
    @*         <div class="bstudio_editor-tabs-listing"> *@
    @*             @for (int i = 0; i < localTextEditorStates.TextEditors.Count; i++) *@
    @*             { *@
    @*                 var index = i; *@
    @*                 var textEditor = localTextEditorStates.TextEditors[index]; *@
    @* *@
    @*                 <EditorTabDisplay TabIndex="index" *@
    @*                                   TextEditor="textEditor" /> *@
    @*             } *@
    @*         </div> *@
    @*          *@
    @*         if (localEditorState.TextEditorKey != TextEditorKey.Empty()) *@
    @*         { *@
    @*             <BlazorStudio.RazorLib.TextEditorCase.TextEditorDisplay TextEditorKey="localEditorState.TextEditorKey" /> *@
    @*         } *@
    @*     } *@
    @* </div> *@
</ContextBoundary>

