<div class="bstudio_editor-tab-display @IsActiveCssClass"
     @onclick="FireSetActiveTabIndexOnClick">
    @if (PlainTextEditor.FileCoordinateGrid?.AbsoluteFilePath is not null)
    {
        <text>@PlainTextEditor.FileCoordinateGrid.AbsoluteFilePath.FilenameWithExtension</text>
    }
</div>