@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_editor-display"
     style="@Dimensions.DimensionsCssString">
    
    <h5 class="bstudio_h5-title">Editor Display</h5>
    
    @{
        var plainTextEditorStates = PlainTextEditorStatesWrap.Value;

        if (plainTextEditorStates.Map.Any())
        {
            foreach (var plainTextEditorKey in PlainTextEditorStatesWrap.Value.Map.Keys)
            {
                <BlazorStudio.RazorLib.PlainTextEditorCase.PlainTextEditorDisplay PlainTextEditorKey="plainTextEditorKey" />
            }
        }
        else
        {
            <div>No opened files</div>
        }
    }
</div>