<div class="bstudio_editor-tab-display bstudio_tab @IsActiveCssClass"
     @onclick="FireSetActiveTabIndexOnClick">
    @if (PlainTextEditor.FileHandle?.AbsoluteFilePath is not null)
    {
        <text>@PlainTextEditor.FileHandle.AbsoluteFilePath.FilenameWithExtension</text>

        if (PlainTextEditor.FileHandle.Edit.Any)
        {
            <span style="margin-left: 7px;">*</span>
        }
    }
    else
    {
        <text>InMemory.unsaved</text>
    }
    
    <div class="bstudio_editor-tab-close-display bstudio_close-button"
         @onclick:stopPropagation="true"
         @onclick="FireDisposePlainTextEditorOnClick">
        <IconClose />
    </div>
</div>