@using BlazorStudio.RazorLib.PlainTextEditorCase
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_editor-display"
     style="@Dimensions.DimensionsCssString">
    
    <h5 class="bstudio_h5-title">Editor Display</h5>
    
    @if (EditorStateWrap.Value.OpenedAbsoluteFilePath is null)
    {
        <div>OpenedAbsoluteFilePath is null</div>
    }
    else
    {
        <div style="white-space: nowrap; overflow-x: auto; height: 3rem;">@EditorStateWrap.Value.OpenedAbsoluteFilePath.GetAbsoluteFilePathString()</div>
        
        <BlazorStudio.RazorLib.PlainTextEditorCase.PlainTextEditorSpawn @ref="_plainTextEditorSpawn"
                                                                           AfterInitializationCallback="ReadFileContentsIntoEditor" />
    }
</div>