<div @ref="_textEditorAutoCompleteMenuElementReference"
     tab-index="-1"
     class="bstudio_text-editor-auto-complete-menu"
     @onkeydown="HandleOnKeyDownAsync">
    
    <MenuDisplay MenuOptionRecords="GetMenuOptionRecords()"
                 ShouldCategorizeByMenuOptionKind="true" />
</div>