<div @ref="_textEditorContextMenuElementReference"
     tab-index="-1"
     class="bstudio_text-editor-context-menu"
     @onkeydown="HandleOnKeyDownAsync">
    
    <MenuDisplay MenuOptionRecords="GetMenuOptionRecords()"
                 ShouldCategorizeByMenuOptionKind="true" />
</div>