@using BlazorStudio.ClassLib.UserInterface
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <div>
        Change&nbsp;icon size:
        <input type="number" 
               @bind="IconSizeInPixels" 
               @bind:event="oninput"
               class="bstudio_input bstudio_input-number" />
    </div>
    
    <div>
        <em>
            @IconOptionsStateWrap.Value.IconSize.Value<!--
            -->@IconOptionsStateWrap.Value.IconSize.DimensionUnitKind.ToCssString()<!--
            -->;
        </em>
    </div>
</div>
