@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_icon-settings-display">
    Icon-Size:&nbsp;
    <input type="number"
           @bind="IconSizeInPixels"
           class="bstudio_input" />
    
    <div>
        icon-size&nbsp;value:&nbsp;
        <em class="bstudio_em">
            @(IconStateWrap.Value.IconSizeInPixels)px
        </em>
    </div>
</div>