@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <div>
        Change&nbsp;ResizeHandle:
        <input type="number" 
               @bind="IconSizeInPixels" 
               @bind:event="oninput"
               class="bstudio_input bstudio_input-number" />
    </div>
    
    <div>
        ResizeHandleDimensionUnit:&nbsp;@IconOptionsStateWrap.Value.IconSize.Value
    </div>
    
    <div>
        DimensionUnitKind:&nbsp;@IconOptionsStateWrap.Value.IconSize.DimensionUnitKind
    </div>
</div>

