<div title="@AbsoluteFilePath.GetAbsoluteFilePathString()">
    Delete:&nbsp;
    <em>@AbsoluteFilePath.FilenameWithExtension</em>
</div>

<YesNoButtons OnYesAction="SubmitForm" OnNoAction="DeclineForm" />