@using Microsoft.Build.Locator
<div class="bstudio_select-msbuild-form">
    
    <div>
        Select an MSBuild version from the TreeView.<br/>
        Optionally absolute file path string may be provided in this input field if needed<br/>
        
        <input class="bstudio_input" @bind="_providedAbsoluteFilePathToMSBuildVersion" /><br/>
    </div>
    
    @if (!VisualStudioInstances.Any())
    {
        <div>Could not find any MSBuild versions installed</div>
    }
    
    <em>Selected:&nbsp;@_providedAbsoluteFilePathToMSBuildVersion</em>

    <TreeViewWrapDisplay ShouldDispose="false"
                         TreeViewWrapKey="_selectMSBuildTreeViewKey"
                         RootItems="VisualStudioInstances"
                         GetChildrenFunc="LoadVisualStudioInstancesChildren"
                         OnEnterKeyDown="ThemeTreeViewOnEnterKeyDown"
                         OnSpaceKeyDown="ThemeTreeViewOnEnterKeyDown"
                         OnDoubleClick="ThemeTreeViewOnDoubleClick"
                         IsExpandable="_ => false">

        <ItemRenderFragment Context="visualStudioInstance">
            <span title="@visualStudioInstance.MSBuildPath">
                @visualStudioInstance.Version (hover text for path)
            </span>
        </ItemRenderFragment>
    </TreeViewWrapDisplay>
</div>