<div style="display: flex; justify-content: space-around; padding-left: 3px; padding: 5px 0;">
    <button class="btn btn-primary"
            @onclick="OnYesAction">
        Accept
    </button>
    
    <button class="btn btn-warning"
            @onclick="OnNoAction">
        Decline
    </button>
</div>