<div style="display: flex; justify-content: space-around; padding-left: 3px; padding: 5px 0;"
     @onkeydown:stopPropagation="true">
    <button class="btn btn-primary bstudio_button"
            @onclick="OnYesAction">
        Accept
    </button>
    
    <button class="btn btn-warning bstudio_button"
            @onclick="OnNoAction"
            @ref="_noButtonElementReference">
        Decline
    </button>
</div>