<div>
    <div>
        @ProjectAbsoluteFilePath.FilenameWithExtension failed to bind on startup
    </div>
    <div>
        <div>
            TODO: I am fatigued at this moment to do this but: <br />an easy and safe way to kill the process on the port should be available in this notification.
            <br/>What follows are the commands I use to manually remedy this.
        </div>

        <hr />

        <div>
            var command = $"netstat -ano | findStr \"{port}\"";
        </div>

        <div>
            var command = $"tasklist /fi \"pid eq {processId}\"";
        </div>

        <div>
            var command = $"taskkill /PID {processId} /F";
        </div>
    </div>
</div>