<div>
    <div>
        @ProjectAbsoluteFilePath.FilenameWithExtension: ProcessFrameworkReferences Task failed
    </div>
    <div>
        <button class="btn btn-primary" 
                @onclick="WriteOutGlobalJsonOnClick">
            Write out a global.json for the project:
        </button>
        <pre>
@GlobalJsonText
</pre>
    </div>
</div>