@inherits Fluxor.Blazor.Web.Components.FluxorLayout

@using BlazorStudio.ClassLib.Contexts

<PageTitle>Experiments.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <BlazorStudio.RazorLib.StoreInitializerWrap/>
        <BlazorStudio.RazorLib.PlainTextEditorInitializer InitializeFluxor="false"/>
        
        <div class="bstudio_theme-wrapper @ThemeStateWrap.Value.ThemeKey.KeyName"
             style="font-size: @(FontOptionsStateWrap.Value.FontSize.Value)px;">
            <BlazorStudio.RazorLib.ContextCase.ContextBoundary CssClassString="@CssClassString"
                                                               CssStyleString="width: calc(100vw - 250px);"
                                                               ContextKey="ContextFacts.GlobalContext.ContextKey">
                <BlazorStudio.RazorLib.KeymapCase.KeymapEventListener/>
                <BlazorStudio.RazorLib.Dialog.DialogsInitializer/>
                <BlazorStudio.RazorLib.Notification.NotificationsInitializer/>
                <BlazorStudio.RazorLib.QuickSelect.QuickSelectInitializer />

                @Body
                
                <BlazorStudio.RazorLib.Drag.DragDisplay/>
            </BlazorStudio.RazorLib.ContextCase.ContextBoundary>
        </div>
    </main>
</div>