@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_workspace-explorer"
     style="@Dimensions.DimensionsCssString">
    
    <h5 class="bstudio_h5-title">Workspace Explorer</h5>
    
    @if (WorkspaceStateWrap.Value.WorkspaceAbsoluteFilePath is null)
    {
        <div>
            WorkspaceAbsoluteFilePath is null, use the InputFile dialog to select a Workspace
            directory.
        </div>
        <div>
            <BlazorStudio.RazorLib.InputFile.InputFileDialogEntryPoint />
        </div>
    }
    else
    {
        <div>
            @WorkspaceStateWrap.Value.WorkspaceAbsoluteFilePath.GetAbsoluteFilePathString()
        </div>
    }
</div>