<span class="bstudio_task-model-manager-dialog-entry-point-task-model-list-preview-display @ClassParameter"
      style="@StyleParameter"
      title="@ListTitle">
     
    @ShortListTitle&nbsp;
        
    @_taskModelCache.Length
</span>