@using BlazorStudio.ClassLib.FileSystem.Interfaces

<div class="bstudio_input-file-dialog">
    <div class="bstudio_input-file-dialog-body">
        @if (_isInitialized)
        {
            <TreeViewWrapDisplay ShouldDispose="false"
                                 TreeViewWrapKey="_inputFileTreeViewKey"
                                 T="IAbsoluteFilePath"
                                 RootItems="_rootAbsoluteFilePaths"
                                 GetChildrenFunc="LoadAbsoluteFilePathChildrenAsync"
                                 Context="absoluteFilePath"
                                 OnEnterKeyDown="InputFileTreeViewOnEnterKeyDown"
                                 OnSpaceKeyDown="InputFileTreeViewOnSpaceKeyDown"
                                 IsExpandable="GetIsExpandable">
                <span title="@absoluteFilePath.GetAbsoluteFilePathString()">
                    @absoluteFilePath.GetFilenameWithExtension
                </span>
            </TreeViewWrapDisplay>
        }
        else
        {
            <div>Loading...</div>
        }
    </div>
    <div class="bstudio_input-file-dialog-control-buttons">
    </div>
</div>
