@using BlazorStudio.ClassLib.Store.InputFileCase
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_input-file-display-top-nav-bar">
    <div class="bstudio_input-file-display-top-nav-bar-buttons">
        <ButtonDisplay OnClickFunc="async () => HandleBackButtonOnClick()"
                       IsDisabled="!InputFileState.CanMoveBackwardsInHistory(InputFileStateWrap.Value)">
            <IconArrowLeft/>
        </ButtonDisplay>
        
        <ButtonDisplay OnClickFunc="async () => HandleForwardButtonOnClick()"
                       IsDisabled="!InputFileState.CanMoveForwardsInHistory(InputFileStateWrap.Value)">
            <IconArrowRight/>
        </ButtonDisplay>
    
        <ButtonDisplay OnClickFunc="async () => HandleUpwardButtonOnClick()">
            <IconArrowUp/>
        </ButtonDisplay>
    </div>
    
    <div class="bstudio_input-file-display-top-nav-bar-address">
        @{
            var inputFileState = InputFileStateWrap.Value;
        }
        
        <div class="bstudio_input-file-display-top-nav-bar-address-hierarchy">
            @if (inputFileState.IndexInHistory < inputFileState.OpenedTreeViewModelHistory.Count)
            {
                var openedTreeView = inputFileState.OpenedTreeViewModelHistory[
                    inputFileState.IndexInHistory];
                
                <text>@openedTreeView.Item?.GetAbsoluteFilePathString()</text>
            }
        </div>
        
        <ButtonDisplay OnClickFunc="async () => HandleRefreshButtonOnClick()">
            <IconRefresh/>
        </ButtonDisplay>
    </div>
    
    <div class="bstudio_input-file-display-top-nav-bar-search">
        <ButtonDisplay OnClickFunc="async () => FocusSearchElementReferenceOnClick()"
                       CssClassString="bstudio_input-file-search-button">
            <IconSearch/>
        </ButtonDisplay>
        
        <input @ref="_searchElementReference"
               @bind="SearchQuery"
               @bind:event="oninput"
               class="bstudio_input bstudio_input-file-search-input"/>
    </div>
</div>