<div class="bstudio_input-file-display-top-nav-bar">
    <ButtonDisplay OnClickAction="HandleBackButtonOnClick">
        <IconArrowLeft/>
    </ButtonDisplay>
    
    <ButtonDisplay OnClickAction="HandleForwardButtonOnClick">
        <IconArrowRight/>
    </ButtonDisplay>
</div>