@using BlazorStudio.RazorLib.ResizableCase

<div class="bte_input-file-display">
    @if (HeaderRenderFragment is not null)
    {
        @HeaderRenderFragment(_selectedTreeViewModel)
    }

    <div class="bte_input-file-display-body @BodyClassCssString"
         style="@BodyStyleCssString">

        <InputFileNavMenu NavMenuElementDimensions="_navMenuElementDimensions"
                          SetSelectedTreeViewModel="tvm => _selectedTreeViewModel = tvm" />

        <ResizableColumn LeftElementDimensions="_navMenuElementDimensions"
                         RightElementDimensions="_contentElementDimensions"
                         ReRenderFuncAsync="() => InvokeAsync(StateHasChanged)"/>

        <InputFileContent ContentElementDimensions="_contentElementDimensions"
                          SetSelectedTreeViewModel="tvm => _selectedTreeViewModel = tvm" />
    </div>

    @if (FooterRenderFragment is not null)
    {
        @FooterRenderFragment(_selectedTreeViewModel)
    }
</div>