@using BlazorStudio.ClassLib.Store.InputFileCase
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_input-file-display-bottom-controls">
    <div class="bstudio_input-file-display-bottom-controls-text-input">
        @* TODO: allow input text html element *@
        @* File name: *@
        @* <input class="bstudio_input"/> *@
        @(InputFileStateWrap.Value.SelectedTreeViewModel?.Item
            .GetAbsoluteFilePathString() ?? "null")
    </div>
    <div class="bstudio_input-file-display-bottom-controls-non-text">
        <div>
            <select>
                <option>All Files</option>
                <option>Aaa</option>
                <option>Bbb</option>
                <option>Ccc</option>
            </select>
        </div>
        <div style="display: flex;">
            <ButtonDisplay OnClickFunc="FireOnAfterSubmit"
                           IsDisabled="OnAfterSubmitIsValid()">
                Select
            </ButtonDisplay>
            <ButtonDisplay OnClickFunc="() => { return Task.CompletedTask; }"
                           IsDisabled="!InputFileState.CanMoveBackwardsInHistory(InputFileStateWrap.Value)">
                Cancel
            </ButtonDisplay>
        </div>
    </div>
</div>