@using BlazorALaCarte.TreeView

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_input-file-display-content"
     style="@ElementDimensions.StyleString">
    
    <TreeViewStateDisplay TreeViewStateKey="TreeViewInputFileContentStateKey"
                          CssStyleString="height: 100%;"
                          TreeViewMouseEventRegistrar="_treeViewMouseEventRegistrar"
                          TreeViewKeymap="_inputFileTreeViewKeymap"/>
</div>