@using BlazorStudio.RazorLib.Menu
@using BlazorStudio.RazorLib.ResizableCase

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_input-file-display-side-bar"
     style="@ElementDimensions.StyleString">
</div>