@using BlazorStudio.ClassLib.FileSystem.Interfaces
<h3>InputFileDisplay</h3>

@if (_isInitialized)
{
    <TreeViewWrapDisplay ShouldDispose="false"
                         TreeViewWrapKey="_inputFileTreeViewKey"
                         T="IAbsoluteFilePath"
                         RootItems="_rootAbsoluteFilePaths"
                         GetChildrenFunc="LoadAbsoluteFilePathChildrenAsync"
                         Context="absoluteFilePath"
                         OnEnterKeyDown="InputFileTreeViewOnEnterKeyDown"
                         OnSpaceKeyDown="InputFileTreeViewOnSpaceKeyDown">
        <span title="@absoluteFilePath.GetAbsoluteFilePathString()">
            @absoluteFilePath.GetFilenameWithExtension
        </span>
    </TreeViewWrapDisplay>
}
else
{
    <div>Loading...</div>
}