@using BlazorALaCarte.TreeView.Displays

<div class="bstudio_input-file-display-side-bar"
     style="@ElementDimensions.StyleString">

    <CascadingValue Name="SearchQuery" Value="InputFileState.SearchQuery">
            <TreeViewStateDisplay TreeViewStateKey="TreeViewInputFileSidebarStateKey"
                                  CssStyleString="height: 100%;"
                                  TreeViewMouseEventHandler="InputFileTreeViewMouseEventHandler"
                                  TreeViewKeyboardEventHandler="InputFileTreeViewKeyboardEventHandler"/>
        </CascadingValue>
</div>