@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_input-file-display-top-nav-bar">
    <div class="bstudio_input-file-display-top-nav-bar-buttons">
        <ButtonDisplay OnClickAction="HandleBackButtonOnClick">
            <IconArrowLeft/>
        </ButtonDisplay>
    
        <ButtonDisplay OnClickAction="HandleForwardButtonOnClick">
            <IconArrowRight/>
        </ButtonDisplay>
    
        <ButtonDisplay OnClickAction="HandleUpwardButtonOnClick">
            <IconArrowUp/>
        </ButtonDisplay>
    </div>
    
    <div class="bstudio_input-file-display-top-nav-bar-address">
        @{
            var selectionSafeReference = SelectionMutablyReferenced;
        }
        
        <div class="bstudio_input-file-display-top-nav-bar-address-hierarchy">
            @selectionSafeReference.Item.GetAbsoluteFilePathString()    
        </div>
        
        <ButtonDisplay OnClickAction="HandleRefreshButtonOnClick">
            <IconRefresh/>
        </ButtonDisplay>
    </div>
    
    <div class="bstudio_input-file-display-top-nav-bar-search">
        <ButtonDisplay OnClickAction="FocusSearchElementReferenceOnClick"
                       CssClassString="bstudio_input-file-search-button">
            <IconSearch/>
        </ButtonDisplay>
        
        <input @ref="_searchElementReference"
               @bind="_searchQuery"
               class="bstudio_input bstudio_input-file-search-input"/>
    </div>
</div>