@using BlazorStudio.RazorLib.Menu
@using BlazorStudio.RazorLib.TreeView
@using BlazorStudio.RazorLib.ResizableCase

<div class="bte_input-file-display-side-bar"
     style="@ElementDimensions.StyleString">

    @if (_fileSystemTreeViewModel is not null)
    {
        <TreeViewDisplay TreeViewModel="_fileSystemTreeViewModel"
                         ShouldShowRoot="false">
            <ItemRenderFragment Context="treeViewModel">
                @treeViewModel.Item.FilenameWithExtension
            </ItemRenderFragment>

            <ContextMenuEventRenderFragment Context="contextMenuEvent">
                <div class="bte_dropdown-display-default-background"
                     style="@GetStyleForContextMenu(contextMenuEvent.CapturedMouseEventArgs)">
                    <MenuDisplay MenuRecord="GetContextMenu(contextMenuEvent.TreeViewModel)"/>
                </div>
            </ContextMenuEventRenderFragment>
        </TreeViewDisplay>
    }
</div>