@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorALaCarte.TreeView.Displays
@using BlazorALaCarte.Shared.Dropdown
@using BlazorALaCarte.TreeView.Events

<div class="balc_debug-display">
    <TreeViewStateDisplay TreeViewStateKey="TextEditorDebugTreeViewStateKey"
                          CssStyleString="height: 100%;"
                          OnContextMenuFunc="OnTreeViewContextMenuFunc"
                          TreeViewMouseEventHandler="new TreeViewMouseEventHandler(TreeViewService)"
                          TreeViewKeyboardEventHandler="new TreeViewKeyboardEventHandler(TreeViewService)"/>
    
    <DropdownDisplay DropdownKey="WatchWindowContextMenuDropdownKey"
                     DropdownPositionKind="DropdownPositionKind.Unset"
                     CssStyleString="@TextEditorDebugContextMenuDisplay.GetContextMenuCssStyleString(_mostRecentTreeViewContextMenuCommandParameter)">

        <TextEditorDebugContextMenuDisplay TreeViewCommandParameter="_mostRecentTreeViewContextMenuCommandParameter"/>
    </DropdownDisplay>
</div>
