<div title="@TreeViewInterfaceImplementation.TreeViewNodeKey.Guid">
    <IconSymbolInterface/>
    ConcreteType:
    <span class="bte_type">@TreeViewInterfaceImplementation.Item!.DebugObjectItemType.Name</span>
</div>