<div class="bstudio_file-form-display">
       <input class="bstudio_input bstudio_input-text"
              style="height: 2em;"
              placeholder="File name"
              @bind="_fileName"
              @bind:event="oninput"/>    
</div>
