<div class="bstudio_file-form-display"
     @onkeydown="HandleOnKeyDown">
       <input class="bstudio_input bstudio_input-text"
              style="height: 2em;"
              placeholder="@PlaceholderText"
              @bind="_fileName"
              @bind:event="oninput"/>    
</div>
