@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (DropdownStateWrap.Value.ActiveDropdownKey == DropdownKey)
{
    <div class="bstudio_dropdown-display"
         style="@Dimensions.DimensionsCssString"
         @onclick:stopPropagation="true">

        if (CloseOnOutOfBoundsClick)
        {
            <BlazorStudio.RazorLib.OutOfBoundsClick.OutOfBoundsClickDisplay ClickedOutOfBounds="ClickedOutOfBoundsOnClick"
                                                                            ZIndex="40" />
        }

        @ChildContent
    </div>
}
