@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (DropdownStateWrap.Value.ActiveDropdownKey == DropdownKey)
{
    if (CloseOnOutOfBoundsClick)
    {
        <BlazorStudio.RazorLib.OutOfBoundsClick.OutOfBoundsClickDisplay ClickedOutOfBounds="ClickedOutOfBoundsOnClick"
                                                                        ZIndex="25" />
    }

    <div class="bstudio_dropdown-display-wrapper"
         style="@DropdownKindCssString">

        <div class="bstudio_dropdown-display"
             style="@Dimensions.DimensionsCssString">

            @ChildContent
        </div>
    </div>
}
