@using BlazorStudio.RazorLib.OutOfBoundsClick
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (ShouldDisplay)
{
    if (ShouldDisplayOutOfBoundsClickDisplay)
    {
        <OutOfBoundsClickDisplay ZIndex="15"
                                 OnClickCallback="ClearAllActiveDropdownKeys" />    
    }
    
    <div class="bte_dropdown-display"
         @onclick:stopPropagation="true"
         style="@DropdownPositionKindStyleCss">
        <CascadingValue Value="DropdownKey">
            @ChildContent
        </CascadingValue>
    </div>
}