@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<input type="number" @bind="RepeatTheDataCount" @bind:event="oninput" />

@foreach (var musicBand in MusicBandRepository.GetMusicBands(RepeatTheDataCount))
{
    <MusicBandDisplay MusicBand="musicBand" />
}