@page "/noVirtualization"

<PageTitle>noVirtualization</PageTitle>

<div>
    Time to first render:
    
    <br/>
    
    @($"{TimeToFirstRender.TotalMilliseconds:N0}")ms
    
    <hr/>
</div>

<input type="number" @bind="RepeatTheDataCount" @bind:event="oninput" />



<div style="height:500px; overflow-y:scroll" tabindex="-1">
    @foreach (var musicBand in MusicBandRepository.GetMusicBands(RepeatTheDataCount))
    {
        <MusicBandDisplay MusicBand="musicBand" />
    }
</div>