@using BlazorTextEditor.ClassLib.Context
@using BlazorStudio.ClassLib.Context

<ContextBoundary ContextRecord="ContextFacts.MainLayoutFooterContext"
                 ClassCssString="bte_footer"
                 StyleCssString="@FooterElementDimensions.StyleString">
    
    <div class="bte_section-title">
        Footer
    </div>
</ContextBoundary>
