@using BlazorStudio.ClassLib.Context
@using BlazorStudio.RazorLib.ContextCase
@using BlazorStudio.RazorLib.Settings
@using BlazorStudio.RazorLib.StartupControls
@using BlazorALaCarte.Shared.Dropdown
@using BlazorALaCarte.Shared.Menu

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="bstudio_header"
                 StyleCssString="display: flex; justify-content: space-between;">
    
    <div class="bstudio_header-left-content"
         style="display: flex;">
        
        <SettingsDialogEntryPoint/>

        <ButtonDisplay @ref="_buttonDisplayComponentFile"
                       OnClickFunc="() => { AddActiveDropdownKey(_dropdownKeyFile); return Task.CompletedTask; }"
                       CssStyleString="position: relative; margin-left: 15px;">
            File
            
            <DropdownDisplay DropdownKey="_dropdownKeyFile"
                             DropdownPositionKind="DropdownPositionKind.Vertical">
    
                <CascadingValue Value="RestoreFocusToButtonDisplayComponentFile" Name="ReturnFocusToParentAction">
                    <MenuDisplay MenuRecord="_menuFile"/>
                </CascadingValue>
            </DropdownDisplay>
        </ButtonDisplay>

        <StartupControlsDisplay/>
    </div>
    
    <div class="bstudio_header-right-content"
         style="display: flex;">
        
        <ButtonDisplay @ref="_buttonDisplayComponentAccount"
                       OnClickFunc="() => { AddActiveDropdownKey(_dropdownKeyAccount); return Task.CompletedTask; }"
                       CssStyleString="position: relative; min-width: 10ch;">
            Account
            
            <DropdownDisplay DropdownKey="_dropdownKeyAccount"
                             DropdownPositionKind="DropdownPositionKind.Vertical">
    
                <CascadingValue Value="RestoreFocusToButtonDisplayComponentAccount" Name="ReturnFocusToParentAction">
                    <MenuDisplay MenuRecord="_menuAccount"/>
                </CascadingValue>
            </DropdownDisplay>
        </ButtonDisplay>
    </div>
</ContextBoundary>