@using BlazorStudio.ClassLib.Context
@using BlazorStudio.ClassLib.Dropdown
@using BlazorStudio.RazorLib.ContextCase
@using BlazorStudio.RazorLib.Dropdown
@using BlazorStudio.RazorLib.Menu
@using BlazorStudio.RazorLib.Settings
@using BlazorStudio.RazorLib.StartupControls

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="bstudio_header">

    <SettingsDialogEntryPoint />
    
    <div style="position: relative;">
        <ButtonDisplay @ref="_fileButtonDisplay" 
                       OnClickFunc="async () => AddActiveFileDropdown()">
            File
        </ButtonDisplay>

        <DropdownDisplay DropdownKey="_dropdownKeyFileDropdown"
                         DropdownPositionKind="DropdownPositionKind.Vertical">

            <div class="bstudio_dropdown-display-default-background">
                <CascadingValue Value="RestoreFocusToFileButton" Name="ReturnFocusToParentAction">
                    <MenuDisplay MenuRecord="_fileMenu"/>
                </CascadingValue>
            </div>
        </DropdownDisplay>
    </div>
    
    <StartupControlsDisplay />
</ContextBoundary>