@using BlazorStudio.RazorLib.Editor
@using BlazorStudio.RazorLib.FolderExplorer
@using BlazorALaCarte.Shared.Resize
@using BlazorStudio.ClassLib.Panel
@using BlazorStudio.RazorLib.Panel

<div class="bstudio_body"
     style="@BodyElementDimensions.StyleString">
    
    <PanelDisplay PanelRecordKey="PanelFacts.LeftPanelRecordKey"/>

    <ResizableColumn LeftElementDimensions="_explorersElementDimensions"
                     RightElementDimensions="_editorElementDimensions"
                     ReRenderFuncAsync="ReRenderAsync"/>

    <EditorDisplay EditorElementDimensions="_editorElementDimensions"/>
    
    <ResizableColumn LeftElementDimensions="_explorersElementDimensions"
                         RightElementDimensions="_editorElementDimensions"
                         ReRenderFuncAsync="ReRenderAsync"/>
    
    <PanelDisplay PanelRecordKey="PanelFacts.RightPanelRecordKey"/>
</div>