@using BlazorStudio.ClassLib.Context
@using BlazorStudio.ClassLib.Dropdown
@using BlazorStudio.RazorLib.ContextCase
@using BlazorStudio.RazorLib.Dropdown
@using BlazorStudio.RazorLib.Menu
@using BlazorStudio.RazorLib.Settings

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="bstudio_header">

    <SettingsDialogEntryPoint />
    
    <div style="position: relative; margin-left: 15px;">
        <button @onclick="AddActiveFileDropdown"
                @ref="_fileButton"
                class="btn btn-primary"
                style="display: flex;">
            File
        </button>
        
        <DropdownDisplay DropdownKey="_dropdownKeyFileDropdown"
                         DropdownPositionKind="DropdownPositionKind.Vertical">
            
            <div class="bstudio_dropdown-display-default-background">
                <CascadingValue Value="RestoreFocusToFileButton" Name="ReturnFocusToParentAction">
                    <MenuDisplay MenuRecord="_fileMenu"/>
                </CascadingValue>
            </div>
        </DropdownDisplay>
    </div>
</ContextBoundary>