@using BlazorStudio.RazorLib.Editor
@using BlazorStudio.RazorLib.FolderExplorer
@using BlazorStudio.RazorLib.ResizableCase

<div class="bstudio_body"
     style="@BodyElementDimensions.StyleString">
    <FolderExplorerDisplay FolderExplorerElementDimensions="_folderExplorerElementDimensions"/>

    <ResizableColumn LeftElementDimensions="_folderExplorerElementDimensions"
                     RightElementDimensions="_editorElementDimensions"
                     ReRenderFuncAsync="ReRenderAsync"/>

    <EditorDisplay EditorElementDimensions="_editorElementDimensions"/>
</div>