<div class="bstudio_body-display">
    <BlazorStudio.RazorLib.Transformable.DebugRow RowDimensions="_topDimensions" />

    <BlazorStudio.RazorLib.Transformable.TransformableRowSeparator TopDimensions="_topDimensions"
                                                                   BottomDimensions="_middleDimensions"
                                                                   ReRenderFunc="ReRender" />

    <BlazorStudio.RazorLib.Transformable.DebugRow RowDimensions="_middleDimensions" />

    <BlazorStudio.RazorLib.Transformable.TransformableRowSeparator TopDimensions="_middleDimensions"
                                                                   BottomDimensions="_bottomDimensions"
                                                                   ReRenderFunc="ReRender" />

    <BlazorStudio.RazorLib.Transformable.DebugRow RowDimensions="_bottomDimensions" />
</div>
