<div class="bstudio_body-display">
    <div style="@_editingSectionDimensions.DimensionsCssString display: flex;">
        <BlazorStudio.RazorLib.Workspace.WorkspaceExplorer Dimensions="_workspaceExplorerDimensions"/>

        <BlazorStudio.RazorLib.Transformable.TransformableColumnSeparator LeftDimensions="_workspaceExplorerDimensions"
                                                                          RightDimensions="_editorDisplayDimensions"
                                                                          ReRenderFunc="ReRender"/>

        <BlazorStudio.RazorLib.Editor.EditorDisplay Dimensions="_editorDisplayDimensions"/>
    </div>
    
    <BlazorStudio.RazorLib.Transformable.TransformableRowSeparator TopDimensions="_editingSectionDimensions"
                                                                   BottomDimensions="_terminalSectionDimensions"
                                                                   ReRenderFunc="ReRender" />
    
    <BlazorStudio.RazorLib.Terminal.TerminalDisplay Dimensions="_terminalSectionDimensions" />
</div>
