<div class="bstudio_body-display">
    <div style="height: 100%; display: flex;">
        <BlazorStudio.RazorLib.Editor.EditorDisplay Dimensions="_editorDisplayDimensions"/>
        
        <BlazorStudio.RazorLib.Transformable.TransformableColumnSeparator LeftDimensions="_editorDisplayDimensions"
                                                                          RightDimensions="_workspaceExplorerDimensions"
                                                                          ReRenderFunc="ReRender" />

        <BlazorStudio.RazorLib.Workspace.WorkspaceExplorer Dimensions="_workspaceExplorerDimensions"/>
    </div>
</div>
