<div>
    <button class="btn btn-primary" 
            @onclick="OpenVirtualizeCoordinateSystemDialogDialogOnClick">
    
        Open VirtualizeCoordinateSystem&lt;T&gt;
    </button>
    
    <button class="btn btn-primary" 
            @onclick="OpenDebugDataVirtualizeCoordinateSystemDialogDialogOnClick">
    
        Open Debugging Data
    </button>
</div>