@using PlainTextEditor.ClassLib.Html

<div style="font-family: monospace;">
    <BlazorStudio.RazorLib.Virtualize.VirtualizeCoordinateSystem InitialVirtualizeCoordinateSystemResult="VirtualizeCoordinateSystemResult"
                                                                 Context="row"
                                                                 RequestCallbackAction="(_, _) => Console.Write(string.Empty)">
        <div class="bstudio_test-row">
                
            @foreach (var character in row.RowText)
            {
                @((MarkupString) character.Value.EscapeHtml())
            }
        </div>
    </BlazorStudio.RazorLib.Virtualize.VirtualizeCoordinateSystem>    
</div>
