@using BlazorStudio.RazorLib.FolderExplorer
<div class="bstudio_explorers-display"
     style="@ExplorersDimensions.DimensionsCssString">
    
    <BlazorStudio.RazorLib.SolutionExplorer.SolutionExplorerDisplay Dimensions="_solutionExplorerDimensions" />

    <BlazorStudio.RazorLib.Transformable.TransformableRowSeparator TopDimensions="_solutionExplorerDimensions"
                                                                   BottomDimensions="_workspaceExplorerDimensions"
                                                                   ReRenderFunc="ReRender" />

    <WorkspaceExplorer Dimensions="_workspaceExplorerDimensions" />
</div>

