<div class="bstudio_footer-window-tab-entry-display bstudio_tab bstudio_focus-display-outline @IsActiveCssClassString"
     @onclick="DispatchSetActiveFooterWindowKindAction">
    @FooterWindowTabEntry.DisplayName
</div>