@inherits LayoutComponentBase

<BlazorStudio.RazorLib.StoreInitializerWrap/>

<h3>BlazorStudio MainLayout</h3>

<SelectDisplay />

<hr/>

<TreeViewWrapDisplay ShouldDispose="false"
                     TreeViewWrapKey="_familyTreeViewKey"
                     RootItems="_rootPeople"
                     GetChildrenFunc="LoadPersonChildren"
                     Context="person">
    @person.DisplayName
</TreeViewWrapDisplay>
