@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<BlazorStudio.RazorLib.StoreInitializerWrap/>
<PlainTextEditor.RazorLib.PlainTextEditorInitializer InitializeFluxor="false" />

<div class="bstudio_theme-wrapper @ThemeStateWrap.Value.ThemeKey.KeyName">
    <div class="bstudio_main-layout">

        <BlazorStudio.RazorLib.Dialog.DialogsInitializer/>

        <ToolbarDisplay/>

        <BodyDisplay />
        
        <BlazorStudio.RazorLib.Dialog.DialogTaskBar />
        
        <BlazorStudio.RazorLib.Drag.DragDisplay />
    </div>
</div>



