@using BlazorStudio.ClassLib.Contexts
@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<BlazorStudio.RazorLib.StoreInitializerWrap/>
<BlazorTextEditor.RazorLib.BlazorTextEditorInitializer/>

<div class="bstudio_theme-wrapper @ThemeStateWrap.Value.ThemeKey.KeyName"
     style="font-size: @(FontOptionsStateWrap.Value.FontSize.Value)px;">
    <ContextBoundary CssClassString="@CssClassString"
                     ContextKey="ContextFacts.GlobalContext.ContextKey">
        <BlazorStudio.RazorLib.KeymapCase.KeymapEventListener/>
        <BlazorStudio.RazorLib.Dialog.DialogsInitializer/>
        <BlazorStudio.RazorLib.Notification.NotificationsInitializer/>
        <BlazorStudio.RazorLib.QuickSelect.QuickSelectInitializer/>

        <ToolbarDisplay/>

        <BodyDisplay/>

        <FooterWindowTabs/>

        <BlazorStudio.RazorLib.Drag.DragDisplay/>
    </ContextBoundary>
</div>