@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<BlazorStudio.RazorLib.StoreInitializerWrap/>
<BlazorStudio.RazorLib.PlainTextEditorInitializer InitializeFluxor="false"/>

<div class="bstudio_theme-wrapper @ThemeStateWrap.Value.ThemeKey.KeyName"
     style="font-size: @(FontOptionsStateWrap.Value.FontSize.Value)px;">
    <div class="bstudio_main-layout bstudio_focus-display-extra-large"
         @onfocusin="() => _contextBoundary.DispatchSetActiveContextStatesAction(new())"
         @onfocusin:stopPropagation="true"
         tabindex="-1"
         @ref="_mainLayoutElementReference">
        <ContextBoundary @ref="_contextBoundary" ContextRecord="ContextStateSelector.Value">
            <BlazorStudio.RazorLib.KeymapCase.KeymapEventListener/>
            <BlazorStudio.RazorLib.Dialog.DialogsInitializer/>
            <BlazorStudio.RazorLib.Notification.NotificationsInitializer/>

            <ToolbarDisplay/>

            <BodyDisplay/>

            <BlazorStudio.RazorLib.Dialog.DialogTaskBar/>

            <BlazorStudio.RazorLib.Drag.DragDisplay/>
        </ContextBoundary>
    </div>
</div>