@inherits LayoutComponentBase

<BlazorStudio.RazorLib.StoreInitializerWrap/>

<h3>BlazorStudio MainLayout</h3>

<SelectDisplay />

<hr/>

<CascadingValue Value="_familyTreeViewKey">
    <TreeViewDisplay/>
</CascadingValue>


