<div class="bstudio_toolbar-display">
    <BlazorStudio.RazorLib.Settings.SettingsDialogEntryPoint />
    
    <BlazorStudio.RazorLib.TaskModelManager.TaskModelManagerDialogEntryPointDisplay />
</div>