@using BlazorStudio.ClassLib.Contexts
<ContextBoundary CssClassString="bstudio_toolbar-display bstudio_focus-display-large"
                 ContextKey="ContextFacts.ToolbarDisplayContext.ContextKey">
    <BlazorStudio.RazorLib.Settings.SettingsDialogEntryPoint/>

    <div class="bstudio_toolbar-display-file-dropdown bstudio_focus-display-extra-large"
         @onclick="() => DispatchAddActiveDropdownKeyActionOnClick(_fileDropdownKey)"
         @onkeydown="FileDropdownHandleOnKeyDown"
         tabindex="0">

        File

        <DropdownDisplay Dimensions="_fileDropdownDimensions"
                         DropdownKey="_fileDropdownKey">

            <MenuDisplay MenuOptionRecords="GetMenuOptionRecords()"/>

        </DropdownDisplay>
    </div>

    <BlazorStudio.RazorLib.StartupProjectControls.StartupProjectControlsDisplay/>
</ContextBoundary>