<div class="bstudio_toolbar-display">
    <BlazorStudio.RazorLib.Settings.SettingsDialogEntryPoint />
    
    <div class="bstudio_toolbar-display-file-dropdown"
         @onclick="() => DispatchSetActiveDropdownKeyActionOnClick(_fileDropdownKey)">
        
        File

        <DropdownDisplay Dimensions="_fileDropdownDimensions"
                         DropdownKey="_fileDropdownKey">

            Hello Wordl11! - Dropdown

        </DropdownDisplay>
    </div>
</div>