@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorStudio.ClassLib.Store.TreeViewCase
@using System.Collections.Immutable
@typeparam T

<div class="bstudio_tree-view-wrap-display" style="@StyleString">

    @if (TreeViewWrapStateSelection.Value is null)
    {
        <div>TreeViewWrap is Loading...</div>
    }
    else
    {
        var rootTreeViews = TreeViewWrapStateSelection.Value.RootTreeViews.ToArray();
        var activeItems = TreeViewWrapStateSelection.Value.ActiveTreeViews
            .Select(x => (T) x.ItemUntyped)
            .ToImmutableArray();

        if (rootTreeViews?.Any() ?? false)
        {
            <CascadingValue Value="GetChildrenFunc">
                <CascadingValue Value="ItemRenderFragment">
                    <CascadingValue Name="Depth" Value="0">
                        <CascadingValue Name="OnEnterKeyDown" Value="OnEnterKeyDown">
                            <CascadingValue Name="OnSpaceKeyDown" Value="OnSpaceKeyDown">
                                <CascadingValue Name="IsExpandable" Value="IsExpandable">
                                    <CascadingValue Value="TreeViewWrapKey">
                                        
                                        @if (BodyRenderFragment is not null)
                                        {
                                            @BodyRenderFragment(GetInnerRenderFragment(rootTreeViews))
                                        }
                                        else
                                        {
                                            @GetInnerRenderFragment(rootTreeViews)
                                        }

                                        @if (FooterRenderFragment is not null)
                                        {
                                            @FooterRenderFragment(activeItems)
                                        }
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        }
    }
</div>
