<div style="display: flex; @RowDimensions.DimensionsCssString">
    <div style="display: inline-flex; background-color: rgb(238, 63, 63); @_leftDimensions.DimensionsCssString">
    </div>
        
    <BlazorStudio.RazorLib.Transformable.TransformableColumnSeparator LeftDimensions="_leftDimensions"
                                                                      RightDimensions="_middleDimensions"
                                                                      ReRenderFunc="ReRender" />

    <div style="display: inline-flex; background-color: rgb(63, 63, 238); @_middleDimensions.DimensionsCssString">
    </div>
        
    <BlazorStudio.RazorLib.Transformable.TransformableColumnSeparator LeftDimensions="_middleDimensions"
                                                                      RightDimensions="_rightDimensions"
                                                                      ReRenderFunc="ReRender" />
        
    <div style="display: inline-flex; background-color: rgb(101, 222, 122); @_rightDimensions.DimensionsCssString">
    </div>
</div>