@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <div>
        Change&nbsp;ResizeHandle:
        <input type="number" 
               @bind="ResizeHandleSizeInPixels" 
               @bind:event="oninput"
               class="bstudio_input bstudio_input-number" />
    </div>

    <div>
        ResizeHandleDimensionUnit:&nbsp;@TransformableOptionsStateWrap.Value.ResizeHandleDimensionUnit.Value
    </div>

    <div>
        DimensionUnitKind:&nbsp;@TransformableOptionsStateWrap.Value.ResizeHandleDimensionUnit.DimensionUnitKind
    </div>
</div>

