@using BlazorStudio.ClassLib.UserInterface
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    <div>
        Change&nbsp;resize handle size:
        <input type="number"
               @bind="ResizeHandleSizeInPixels"
               @bind:event="oninput"
               class="bstudio_input bstudio_input-number"/>
    </div>

    <div>
        <em>
            @TransformableOptionsStateWrap.Value.ResizeHandleDimensionUnit.Value<!--
            -->@TransformableOptionsStateWrap.Value.ResizeHandleDimensionUnit.DimensionUnitKind.ToCssString()<!--
            -->;
        </em>
    </div>
</div>