<div class="bstudio_expansion-display"
     style="@StyleCssString">

    @if (OnClickShouldToggleIsExpanded)
    {
        <span class="bstudio_expansion-display-title @TitleCssClass"
              @onclick="ToggleIsExpanded">
            @if (ShowIsExpandedChevron)
            {
                if (IsExpanded)
                {
                    <IconChevronDown/>
                }
                else
                {
                    <IconChevronRight/>
                }

                if (RenderSeparatorBetweenChevronAndTitle)
                {
                    <span class="bstudio_expansion-display-chevron-title-separator"></span>
                }
            }

            @TitleRenderFragment
        </span>
    }
    else
    {
        <span>
            @TitleRenderFragment
        </span>
    }

    @if (IsExpanded)
    {
        @BodyRenderFragment
    }
</div>