<div class="nav-item px-3">
    <NavLink class="nav-link" href="balcTreeView" Match="NavLinkMatch.All">
        BlazorALaCarte.TreeView
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="balcTreeView/watchWindow">
        Watch Window
    </NavLink>
</div>