:root {
    --bstudio_primary-background-color: aqua;
    --bstudio_secondary-background-color: green;
    --bstudio_tertiary-background-color: #2d2f34;
    --bstudio_header-footer-background-color: #292929;
    --bstudio_primary-font-color: #c5c6bb;
    --bstudio_secondary-font-color: #a8a8a3;
    --bstudio_primary-active-font-color: #ffffff;
    --bstudio_primary-active-background-color: rgb(19 81 150);
    --bstudio_primary-active-unfocused-background-color: rgb(57 67 78);
    --bstudio_primary-border-color: #ffffff;
    --bstudio_primary-hover-background-color: rgb(228, 137, 16);
    --bstudio_primary-hover-font-color: #ffffff;
    --bstudio_secondary-hover-background-color: rgb(17, 96, 187);
    --bstudio_secondary-hover-font-color: #ffffff;
    --bstudio_tertiary-hover-background-color: #f7f7f7;
    --bstudio_tertiary-hover-font-color: #191919;
    --bstudio_blazor-ui-error-display-error: red;
    --bstudio_blazor-ui-error-display-hint: blue;
    --bstudio_danger-background-color: red;
    --bstudio_warning-background-color: yellow;
    --bstudio_blue-background-color: blue;
    --bstudio_success-background-color: green;
    --bstudio_task-model-manager-dialog-entry-point-display-background-color: silver;
    --bstudio_task-model-display-cancel-button-background-color: red;
    --bstudio_primary-overlay-box-shadow: 0px 0px 2px red;
    --bstudio_primary-emphasis-font-color: red;
    --pte_primary-cursor-color: #2b2b2b;
    --pte_secondary-cursor-color: transparent;
    --pte_active-row: #008cf3;
    --pte_active-unfocused-row: #606060;
    --pte_active-line-number-font-color: rgb(255, 0, 174);
    --pte_hover-font-color: #0000ff;
    --pte_active-border-color: #0000ff;
}
