input[type="checkbox"]{
    width: var(--bstudio_checkbox-size);
    height: var(--bstudio_checkbox-size);
}

.bstudio_main-layout {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: var(--balc_primary-font-color);
}

.bstudio_header {
    border-bottom: var(--bstudio_header-border-bottom-size) solid var(--balc_primary-border-color);
    height: var(--bstudio_header-height);
    background-color: var(--bstudio_header-background-color);
}

.bstudio_header .bstudio_button {
    height: 100%;
    margin-left: 15px;
}

.bstudio_body {
    display: flex;
    overflow: auto;
    background-color: var(--bstudio_body-background-color);
}

.bstudio_folder-explorer-display {
}

.bstudio_footer {
    background-color: var(--bstudio_footer-background-color);
}

.bstudio_section-title {
    display: flex;
    align-items: center;
    padding: var(--bstudio_section-title-padding);
    background-color: var(--bstudio_section-title-background-color);
    font-size: var(--bstudio_section-title-font-size);
    height: var(--bstudio_section-title-height);
}

.bstudio_section-body {
    padding: var(--bstudio_section-body-padding);
    height: calc(100% - var(--bstudio_section-title-height));
    overflow: auto;
}

.bstudio_editor-display {
    height: 100%;
}

.bstudio_header {
    display: flex;
}

.bstudio_input-file-display {
    height: 100%;
}

.bstudio_input-file-display-top-nav-bar {
    height: var(--bstudio_input-file-display-top-nav-bar-height);
    display: flex;
    align-items: center;
    background-color: var(--balc_tertiary-background-color);
    color: var(--balc_tertiary-foreground-color);
}

.bstudio_input-file-display-top-nav-bar-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    width: var(--bstudio_input-file-display-top-nav-bar-buttons-width);
}

.bstudio_input-file-display-top-nav-bar-address {
    display: flex;
    align-items: center;
    height: 100%;
    width: var(--bstudio_input-file-display-top-nav-bar-address-hierarchy-width);
    overflow-x: auto;
    overflow-y: hidden;
}

.bstudio_input-file-display-top-nav-bar-address-hierarchy {
    margin: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.bstudio_input-file-display-top-nav-bar-search {
    margin: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
    width: var(--bstudio_input-file-display-top-nav-bar-search-width);
}

.bstudio_input-file-search-button.bstudio_button {
    background-color: var(--bstudio_input-background-color);
    color: var(--bstudio_input-font-color);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    border-right: none;
    height: var(--bstudio_input-file-search-height);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: var(--bstudio_input-file-search-margin-bottom);
}

.bstudio_input-file-search-input {
    border-left: none;
    height: var(--bstudio_input-file-search-height);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: var(--bstudio_input-file-search-margin-bottom);
    width: 207px;
}

.bstudio_input-file-display-body {
    height: var(--bstudio_input-file-display-body-height);
    display: flex;
}

.bstudio_input-file-display-side-bar {
    height: 100%;
    overflow: auto;
    margin-right: var(--bstudio_input-file-display-side-bar-margin-right);
}

.bstudio_input-file-display-content {
    height: 100%;
    overflow: auto;
    margin-left: var(--bstudio_input-file-display-content-margin-left);
}

.bstudio_input-file-display-bottom-controls {
    height: var(--bstudio_input-file-display-bottom-controls-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--balc_tertiary-background-color);
    color: var(--balc_tertiary-foreground-color);
}

.bstudio_input-file-display-bottom-controls-text-input {
    overflow: auto;
    width: var(--bstudio_input-file-display-bottom-controls-text-input-width);
    padding-left: var(--bstudio_input-file-display-bottom-controls-text-input-padding-left);
}

.bstudio_input-file-display-bottom-controls-non-text {
    margin-left: var(--bstudio_input-file-display-bottom-controls-non-text-margin-left);
    width: var(--bstudio_input-file-display-bottom-controls-non-text-width);
}

.bstudio_input-file-display-bottom-controls-non-text .bstudio_button:not(:first-of-type) {
    margin-left: var(--bstudio_input-file-display-bottom-controls-non-text-buttons-margin-left);
}

.bstudio_input {
    background-color: var(--bstudio_input-background-color);
    color: var(--bstudio_input-font-color);
    padding: var(--bstudio_input-padding-height) var(--bstudio_input-padding-width);
}

.bstudio_input:focus {
    outline: solid var(--bstudio_input-focus-outline-size) var(--balc_primary-emphasis-foreground-color);
    box-shadow: 0 0 var(--bstudio_input-focus-box-shadow-blur-radius) var(--balc_primary-emphasis-foreground-color);
}

.bstudio_text-editor-display {
    height: var(--bstudio_text-editor-display-height) !important;
}

.bstudio_startup-controls-display {
    display: flex;
    margin-left: 10px;
}

.bstudio_startup-controls-display-entry {
    display: flex;
    align-items: center;
}

.bstudio_form {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.bstudio_form-group {
    display: flex;
}

.bstudio_form-group:not(:last-of-type) {
    margin-bottom: 10px;
}

.bstudio_form-label {
    margin-right: 10px;
}

.bstudio_terminal-tabs-container {
    display: flex;
}

.bstudio_terminal-tab > .bstudio_button {
    border-radius: 20px;
    width: 4em;
    margin-left: 10px;
    border: 1.5px solid var(--balc_primary-border-color);
}

.bstudio_terminal-tab > .bstudio_button:focus {
    border: 1.5px solid var(--balc_primary-emphasis-foreground-color);
}

.bstudio_terminal-output-display {
    width: 100%; 
    overflow-wrap: anywhere;
}

.bstudio_delete-file-form-display {
    background-color: var(--balc_tertiary-background-color);
    padding: 10px;
}

hr.balc_hr {
    color: var(--balc_hr-primary-background-color);
    height: var(--balc_hr-height);
    margin: var(--balc_hr-margin);
    opacity: var(--balc_hr-opacity);
}

em.balc_em {
    color: var(--balc_primary-emphasis-foreground-color);
    font-style: normal;
}

.bstudio_footer-body {
    height: calc(100% - var(--bstudio_editor-tabs-bar-height));
}

.bstudio_footer-view-tabs {
    display: flex;
    height: var(--bstudio_editor-tabs-bar-height);
    margin-bottom: 10px;
    overflow-x: auto;
    font-size: 0.8em;
}