:root {
    --bte_section-title-font-size: 1.75rem;
    --bte_folder-explorer-display-padding: 5px;
    --bte_editor-display-padding: 5px;
    --bte_editor-display-border-left-size: 2px;
    --bte_dialog-display-toolbar-height: 2.5rem;
    --bte_input-file-display-top-nav-bar-height: 2.5rem;
    --bte_footer-padding: 5px;
    --bte_checkbox-size: 1.75rem;
    --bte_header-padding: 5px;
    --bte_header-border-bottom-size: 4px;
    --bte_header-height: 3rem;
    --bte_body-border-bottom-size: 2px;
    --bte_dialog-display-z-index: 10;
    --bte_dialog-display-box-shadow-blur-radius: 2px;
    --bte_dialog-display-button-entry-margin-right: 5px;
    --bte_dialog-display-button-entry-padding: 3px;
    --bte_drag-display-z-index: 30;
    --bte_tree-view-display-focus-outline-size: 10px;
    --bte_tree-view-display-focus-outline-offset: -5px;
    --bte_dropdown-display-default-background-box-shadow-blur-radius: 2px;
    --bte_dropdown-display-z-index: 20;
    --bte_menu-display-focus-outline-size: 2px;
    --bte_menu-option-display-padding-width: 10px;
    --bte_menu-option-display-focus-outline-size: 2px;
    --bte_input-file-display-side-bar-margin-right: 10px;
    --bte_input-file-display-content-margin-left: 10px;
    --bte_input-padding-height: 2px;
    --bte_input-padding-width: 3px;
    --bte_input-focus-outline-size: 2px;
    --bte_input-focus-box-shadow-blur-radius: 21px;
}