:root {
    --bstudio_header-background-color: #2a2a2e;
    --bstudio_body-background-color: #1E1E1E;
    --bstudio_footer-background-color: #2b2d2d;
    --bstudio_input-background-color: #28324d;
    --bstudio_input-font-color: #d1d2ca;
    --bstudio_section-title-background-color: #033a00;
}