input[type="checkbox"]{
    width: 1.75rem;
    height: 1.75rem;
}

.bte_text-editor {
    height: 100%;
}

.bte_method {
    color: var(--bte_method-foreground-color);
}

.bte_type {
    color: var(--bte_type-foreground-color);
}

.bte_parameter {
    color: var(--bte_parameter-foreground-color);
}

.bte_string-literal {
    color: var(--bte_string-literal-foreground-color);
}

.bte_keyword {
    color: var(--bte_keyword-foreground-color);
}

.bte_comment {
    color: var(--bte_comment-foreground-color);
}

.bte_measure-character-width-and-row-height {
    top: 0;
    left: 0;
    visibility: hidden;
}

.bte_row {
    white-space: nowrap;
    position: absolute;
    display: flex;
}

.bte_gutter {
    white-space: nowrap;
    position: absolute;
    display: flex;
    box-shadow: -4px 0 0 var(--bte_text-editor-gutter-border-color) inset;
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_text-editor-content {
    cursor: text;
    position: relative;
    display: flex;
    overflow: auto;
    height: calc(100% - 7rem);
    font-family: monospace;
    margin: 5px;
}

.bte_text-editor-cursor {
    position: absolute;
    width: 4px;
    display: inline-block;
    background-color: var(--bte_text-editor-cursor-foreground-color);
    margin: 0;
    padding: 0;
    outline: none !important;
    resize: none;
    border: none;
    overflow: hidden;
}

.bte_text-editor-caret-row {
    border: 4px solid var(--bte_text-editor-caret-row-border-color);
    position: absolute;
    left: 0;
    width: 100%;
}

.bte_blink {
    animation: bte_blink-animation 1s infinite;
}

@keyframes bte_blink-animation {
    0% {opacity: 0}
    49%{opacity: 0}
    50% {opacity: 1}
}

.bte_text-selection {
    background-color: var(--bte_text-selection-background-color);
    position: absolute;
}

.bte_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bte_main-layout {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: var(--bte_primary-font-color);
}

.bte_header {
    padding: 5px;
    border-bottom: 5px solid var(--bte_primary-border-color);
    height: 3rem;
    background-color: var(--bte_header-background-color);
}

.bte_body {
    display: flex;
    border-bottom: 2px solid var(--bte_primary-border-color);
    height: calc(100% - 9rem);
    overflow: auto;
    background-color: var(--bte_body-background-color);
}

.bte_folder-explorer-display {
    padding: 5px;
}

.bte_footer {
    padding: 5px;
    height: 6rem;
    background-color: var(--bte_footer-background-color);
}

.bte_section-title {
    font-size: 1.75rem;
}

.bte_editor-display {
    padding: 5px;
    border-left: 2px solid var(--bte_primary-border-color);
}

.bte_resize-column {
    background-color: var(--bte_resize-column-background-color);
    height: 100%;
    cursor: e-resize;
}

.bte_resize-row {
    background-color: var(--bte_resize-row-background-color);
    width: 100%;
    cursor: n-resize;
}

.bte_dialog-display {
    z-index: 10;
    background-color: var(--bte_dialog-display-background-color);
    box-shadow: 0px 0px 2px var(--bte_primary-box-shadow-color);
}

.bte_dialog-display-toolbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bte_dialog-display-toolbar-background-color);
}

.bte_dialog-display-buttons {
    display: flex;
    align-items: center;
}

.bte_dialog-display-button-entry {
    margin-right: 5px;
    padding: 3px;
    display: inline-flex;
    height: fit-content;
}

.bte_dialog-display-button-entry:hover {
    background-color: var(--bte_primary-hover-background-color);
}

.bte_dialog-display-body {
    height: calc(100% - 3rem);
}

.bte_resize-handle-north {
    cursor: n-resize;
}

.bte_resize-handle-east {
    cursor: e-resize;
}

.bte_resize-handle-south {
    cursor: s-resize;
}

.bte_resize-handle-west {
    cursor: w-resize;
}

.bte_resize-handle-north-east {
    cursor: ne-resize;
}

.bte_resize-handle-south-east {
    cursor: se-resize;
}

.bte_resize-handle-south-west {
    cursor: sw-resize;
}

.bte_resize-handle-north-west {
    cursor: nw-resize;
}

.bte_drag-display {
    z-index: 30;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.bte_tree-view-display:focus {
    outline: solid var(--primary-outline-color) 10px;
    outline-offset: -5px;
}

.bte_tree-view-display-title {
    position: relative;
    white-space: nowrap;
    display: flex;
    cursor: default;
}

.bte_tree-view-display-title:hover {
    background-color: var(--bte_primary-hover-background-color);
}

.bte_tree-view-display-title.bte_active {
    background-color: var(--primary-active-not-focused-background-color);
}

.bte_tree-view-display-title.bte_active:focus {
    background-color: var(--primary-active-focused-background-color);
}

.bte_tree-view-display-expansion:hover {
    background-color: var(--bte_primary-font-color);
    color: var(--bte_body-background-color);
}

.bte_newline {
    color: var(--bte_newline-foreground-color);
    background-color: var(--bte_newline-background-color);
}

.bte_header {
    display: flex;
}

.bte_dropdown-display-default-background {
    background-color: var(--bte_dropdown-display-default-background-color);
    box-shadow: 0px 0px 2px var(--bte_primary-box-shadow-color);
}

.bte_out-of-bounds-click-display {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.bte_dropdown-display {
    z-index: 20;
    position: absolute;
}

.bte_menu-display:focus {
    outline: solid 2px var(--bte_primary-emphasis-foreground-color);
}

.bte_menu-option-display {
    position: relative;
    white-space: nowrap;
    cursor: default;
    padding: 0 10px;
}

.bte_menu-option-display.bstudio_active {
    background-color: var(--bte_primary-hover-background-color);
}

.bte_menu-option-display:hover {
    background-color: var(--bte_primary-hover-background-color);
}

.bte_menu-option-display:focus {
    outline: solid 2px var(--bte_primary-emphasis-foreground-color);
}

.bte_input-file-display {
    height: 100%;
}

.bte_input-file-display-body {
    height: 100%;
    display: flex;
}

.bte_input-file-display-content {
    height: 100%;
    overflow: auto;
}

.bte_input-file-display-nav-menu {
    height: 100%;
    overflow: auto;
}

em {
    color: var(--bte_primary-emphasis-foreground-color);
    font-style: normal;
}

.bte_input {
    background-color: var(--bte_input-background-color);
    color: var(--bte_input-font-color);
    padding: 2px 3px;
}

.bte_input:focus {
    outline: solid 2px var(--bte_primary-emphasis-foreground-color);
    box-shadow: 0 0 21px var(--bte_primary-emphasis-foreground-color);
}

.bte_virtualization-boundary-display {
    position: absolute;
}
