input[type="checkbox"]{
    width: var(--bstudio_checkbox-size);
    height: var(--bstudio_checkbox-size);
}

.bstudio_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bstudio_main-layout {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: var(--bstudio_primary-font-color);
}

.bstudio_header {
    padding: var(--bstudio_header-padding);
    border-bottom: var(--bstudio_header-border-bottom-size) solid var(--bstudio_primary-border-color);
    height: var(--bstudio_header-height);
    background-color: var(--bstudio_header-background-color);
}

.bstudio_body {
    display: flex;
    border-bottom: var(--bstudio_body-border-bottom-size) solid var(--bstudio_primary-border-color);
    overflow: auto;
    background-color: var(--bstudio_body-background-color);
}

.bstudio_folder-explorer-display {
    padding: var(--bstudio_folder-explorer-display-padding);
}

.bstudio_footer {
    padding: var(--bstudio_footer-padding);
    background-color: var(--bstudio_footer-background-color);
}

.bstudio_section-title {
    font-size: var(--bstudio_section-title-font-size);
}

.bstudio_editor-display {
    padding: var(--bstudio_editor-display-padding);
    border-left: var(--bstudio_editor-display-border-left-size) solid var(--bstudio_primary-border-color);
}

.bstudio_resize-column {
    background-color: var(--bstudio_resize-column-background-color);
    height: 100%;
    cursor: e-resize;
}

.bstudio_resize-row {
    background-color: var(--bstudio_resize-row-background-color);
    width: 100%;
    cursor: n-resize;
}

.bstudio_dialog-display {
    z-index: var(--bstudio_dialog-display-z-index);
    background-color: var(--bstudio_dialog-display-background-color);
    box-shadow: 0 0 var(--bstudio_dialog-display-box-shadow-blur-radius) var(--bstudio_primary-box-shadow-color);
}

.bstudio_dialog-display-toolbar {
    height: var(--bstudio_dialog-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bstudio_dialog-display-toolbar-background-color);
}

.bstudio_dialog-display-buttons {
    display: flex;
    align-items: center;
}

.bstudio_dialog-display-button-entry {
    margin-right: var(--bstudio_dialog-display-button-entry-margin-right);
    padding: var(--bstudio_dialog-display-button-entry-padding);
    display: inline-flex;
    height: fit-content;
}

.bstudio_dialog-display-button-entry:hover {
    background-color: var(--bstudio_primary-hover-background-color);
}

.bstudio_dialog-display-body {
    height: calc(100% - var(--bstudio_dialog-display-toolbar-height));
}

.bstudio_resize-handle-north {
    cursor: n-resize;
}

.bstudio_resize-handle-east {
    cursor: e-resize;
}

.bstudio_resize-handle-south {
    cursor: s-resize;
}

.bstudio_resize-handle-west {
    cursor: w-resize;
}

.bstudio_resize-handle-north-east {
    cursor: ne-resize;
}

.bstudio_resize-handle-south-east {
    cursor: se-resize;
}

.bstudio_resize-handle-south-west {
    cursor: sw-resize;
}

.bstudio_resize-handle-north-west {
    cursor: nw-resize;
}

.bstudio_drag-display {
    z-index: var(--bstudio_drag-display-z-index);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.bstudio_tree-view-display:focus {
    outline: solid var(--bstudio-primary-outline-color) var(--bstudio_tree-view-display-focus-outline-size);
    outline-offset: var(--bstudio_tree-view-display-focus-outline-offset);
}

.bstudio_tree-view-display-title {
    position: relative;
    white-space: nowrap;
    display: flex;
    cursor: default;
}

.bstudio_tree-view-display-title:hover {
    background-color: var(--bstudio_primary-hover-background-color);
}

.bstudio_tree-view-display-title.bstudio_active {
    background-color: var(--bstudio-primary-active-not-focused-background-color);
}

.bstudio_tree-view-display-title.bstudio_active:focus {
    background-color: var(--bstudio-primary-active-focused-background-color);
}

.bstudio_tree-view-display-expansion:hover {
    background-color: var(--bstudio_primary-font-color);
    color: var(--bstudio_body-background-color);
}

.bstudio_header {
    display: flex;
}

.bstudio_dropdown-display-default-background {
    background-color: var(--bstudio_dropdown-display-default-background-color);
    box-shadow: 0 0 var(--bstudio_dropdown-display-default-background-box-shadow-blur-radius) var(--bstudio_primary-box-shadow-color);
}

.bstudio_out-of-bounds-click-display {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.bstudio_dropdown-display {
    z-index: var(--bstudio_dropdown-display-z-index);
    position: absolute;
}

.bstudio_menu-display:focus {
    outline: solid var(--bstudio_menu-display-focus-outline-size) var(--bstudio_primary-emphasis-foreground-color);
}

.bstudio_menu-option-display {
    position: relative;
    white-space: nowrap;
    cursor: default;
    padding: 0 var(--bstudio_menu-option-display-padding-width);
}

.bstudio_menu-option-display.bstudio_active {
    background-color: var(--bstudio_primary-hover-background-color);
}

.bstudio_menu-option-display:hover {
    background-color: var(--bstudio_primary-hover-background-color);
}

.bstudio_menu-option-display:focus {
    outline: solid var(--bstudio_menu-option-display-focus-outline-size) var(--bstudio_primary-emphasis-foreground-color);
}

.bstudio_input-file-display {
    height: 100%;
}

.bstudio_input-file-display-top-nav-bar {
    height: var(--bstudio_input-file-display-top-nav-bar-height);
    display: flex;
    align-items: center;
    background-color: var(--bstudio_body-background-color);
}

.bstudio_input-file-display-body {
    height: calc(100% - var(--bstudio_input-file-display-top-nav-bar-height));
    display: flex;
}

.bstudio_input-file-display-side-bar {
    height: 100%;
    overflow: auto;
    margin-right: var(--bstudio_input-file-display-side-bar-margin-right);
}

.bstudio_input-file-display-content {
    height: 100%;
    overflow: auto;
    margin-left: var(--bstudio_input-file-display-content-margin-left);
}

em {
    color: var(--bstudio_primary-emphasis-foreground-color);
    font-style: normal;
}

.bstudio_input {
    background-color: var(--bstudio_input-background-color);
    color: var(--bstudio_input-font-color);
    padding: var(--bstudio_input-padding-height) var(--bstudio_input-padding-width);
}

.bstudio_input:focus {
    outline: solid var(--bstudio_input-focus-outline-size) var(--bstudio_primary-emphasis-foreground-color);
    box-shadow: 0 0 var(--bstudio_input-focus-box-shadow-blur-radius) var(--bstudio_primary-emphasis-foreground-color);
}

.bstudio_button {
    background-color: transparent;
    border: none;
    color: var(--bstudio_primary-font-color);
}

.bstudio_button:focus {
    outline: solid var(--bstudio_menu-option-display-focus-outline-size) var(--bstudio_primary-emphasis-foreground-color);
    background-color: var(--bstudio_primary-hover-background-color);
}

.bstudio_button:hover {
    background-color: var(--bstudio_primary-hover-background-color);
}
