:root {
    --bstudio_section-title-font-size: 1.5rem;
    --bstudio_section-title-height: 2.5rem;
    --bstudio_folder-explorer-display-padding: 5px;
    --bstudio_editor-display-padding: 5px;
    --bstudio_editor-display-border-left-size: 2px;
    --bstudio_dialog-display-toolbar-height: 2.5rem;
    --bstudio_input-file-display-top-nav-bar-height: 2.5rem;
    --bstudio_input-file-display-bottom-controls-height: 5rem;
    --bstudio_input-file-display-body-height: calc(100% - var(--bstudio_input-file-display-top-nav-bar-height) - var(--bstudio_input-file-display-bottom-controls-height));
    --bstudio_footer-padding: 5px;
    --bstudio_checkbox-size: 1.75rem;
    --bstudio_header-padding: 5px;
    --bstudio_header-border-bottom-size: 4px;
    --bstudio_header-height: 3rem;
    --bstudio_body-border-bottom-size: 2px;
    --bstudio_dialog-display-z-index: 10;
    --bstudio_dialog-display-box-shadow-blur-radius: 2px;
    --bstudio_dialog-display-button-entry-margin-right: 5px;
    --bstudio_dialog-display-button-entry-padding: 3px;
    --bstudio_drag-display-z-index: 30;
    --bstudio_tree-view-display-focus-outline-size: 10px;
    --bstudio_tree-view-display-focus-outline-offset: -5px;
    --bstudio_dropdown-display-default-background-box-shadow-blur-radius: 2px;
    --bstudio_dropdown-display-z-index: 20;
    --bstudio_menu-display-focus-outline-size: 2px;
    --bstudio_menu-option-display-padding-width: 10px;
    --bstudio_menu-option-display-focus-outline-size: 2px;
    --bstudio_input-file-display-side-bar-margin-right: 10px;
    --bstudio_input-file-display-content-margin-left: 10px;
    --bstudio_input-padding-height: 2px;
    --bstudio_input-padding-width: 3px;
    --bstudio_input-focus-outline-size: 2px;
    --bstudio_input-focus-box-shadow-blur-radius: 21px;
    --bstudio_input-file-search-height: calc(100% - 4px);
    --bstudio_input-file-search-margin-bottom: 1px;
    --bstudio_input-file-display-top-nav-bar-buttons-width: 120px;
    --bstudio_input-file-display-top-nav-bar-search-width: 220px;
    --bstudio_input-file-display-top-nav-bar-address-hierarchy-width: calc(100% - var(--bstudio_input-file-display-top-nav-bar-buttons-width) - var(--bstudio_input-file-display-top-nav-bar-search-width));
}