:root {
    --balc_primary-font-color: #d2d2d2;
    --balc_primary-border-color: #d7d7d7;
    --balc_dialog-display-background-color: #2d2f34;
    --balc_primary-box-shadow-color: #f5f5f5;
    --balc_dialog-display-toolbar-background-color: #071c57;
    --balc_primary-hover-background-color: #956100;
    --balc-primary-outline-color: #2d498b;
    --balc-primary-active-not-focused-background-color: #566060;
    --balc-primary-active-focused-background-color: #2d498b;
    --balc_dropdown-display-default-background-color: rgb(48, 51, 101);
    --balc_primary-emphasis-foreground-color: #4d8aea;
    --balc_primary-disabled-background-color: #5c5959;
    --balc_primary-disabled-foreground-color: #ba931e;
    --balc_primary-disabled-hover-background-color: var(--balc_primary-disabled-foreground-color);
    --balc_primary-disabled-hover-foreground-color: var(--balc_primary-disabled-background-color);
    --balc_button-background-color: #034f74;
    --balc_button-foreground-color: var(--balc_primary-font-color);
    --balc_notification-display-background-color: #2d2f34;
    --balc_notification-display-toolbar-background-color: #071c57;
    --balc_active-button-background-color: #753282;
    --balc_active-button-primary-font-color: var(--balc_primary-font-color);
    --balc_tertiary-background-color: var(--balc_body-background-color);
    --balc_tertiary-foreground-color: var(--balc_primary-font-color);
    --balc_hr-primary-background-color: currentColor;
    --balc_error-foreground-color: #e55d62;
    --balc_outline-color: var(--balc-primary-outline-color);
    --balc_active-but-not-focused-background-color: var(--balc-primary-active-not-focused-background-color);
    --balc_context-menu-background-color: red;
    --balc_context-menu-foreground-color: green;
    --balc_resize-column-background-color: #d7d7d7;
    --balc_resize-row-background-color: #d7d7d7;
    --balc_icon-solution-font-color: #a074c4;
    --balc_icon-project-font-color: #88d184;
    --balc_icon-razor-font-color: #c586c0;
    --balc_icon-folder-font-color: #d7ab69;
    --balc_icon-json-font-color: #cbc638;
    --balc_icon-c-sharp-class-font-color: #519aba;
    --balc_icon-cshtml-font-color: #c586c0;
    --balc_icon-css-font-color: #e36a6e;
    --balc_icon-js-font-color: #519aba;
    --balc_icon-ts-font-color: #37b38b;
    --balc_icon-start-without-debugging-font-color: #37b38b;
}

.balc_visual-studio-light-theme-clone {
    --balc_primary-font-color: black;
    --balc_primary-border-color: black;
    --balc_dialog-display-background-color: rgb(252, 252, 245);
    --balc_primary-box-shadow-color: #000000;
    --balc_dialog-display-toolbar-background-color: #cad5eb;
    --balc_primary-hover-background-color: #dda133;
    --balc-primary-outline-color: #ADD6FF;
    --balc-primary-active-not-focused-background-color: #d9dcdf;
    --balc-primary-active-focused-background-color: #ADD6FF;
    --balc_dropdown-display-default-background-color: #e6e6e6;
    --balc_primary-emphasis-foreground-color: #124df9;
    --balc_primary-disabled-background-color: #cfcfcf;
    --balc_primary-disabled-foreground-color: #25180c;
    --balc_primary-disabled-hover-background-color: var(--balc_primary-disabled-foreground-color);
    --balc_primary-disabled-hover-foreground-color: var(--balc_primary-disabled-background-color);
    --balc_button-background-color: #536fce;
    --balc_button-foreground-color: rgb(253, 253, 253);
    --balc_notification-display-background-color: rgb(252, 252, 245);
    --balc_notification-display-toolbar-background-color: rgb(192, 214, 247);
    --balc_active-button-background-color: #d889e8;
    --balc_active-button-primary-font-color: var(--balc_primary-font-color);
    --balc_tertiary-background-color: #f3f0dc;
    --balc_tertiary-foreground-color: var(--balc_primary-font-color);
    --balc_hr-primary-background-color: currentColor;
    --balc_error-foreground-color: red;
    --balc_outline-color: #33bcec;
    --balc_active-but-not-focused-background-color: #7f8e93;
    --balc_context-menu-background-color: red;
    --balc_context-menu-foreground-color: green;
    --balc_resize-column-background-color: black;
    --balc_resize-row-background-color: black;
    --balc_icon-solution-font-color: #8f38d6;
    --balc_icon-project-font-color: #23d519;
    --balc_icon-razor-font-color: #c509db;
    --balc_icon-folder-font-color: #a46d00;
    --balc_icon-json-font-color: #beb106;
    --balc_icon-c-sharp-class-font-color: #2B91AF;
    --balc_icon-cshtml-font-color: #c509db;
    --balc_icon-css-font-color: #de4b50;
    --balc_icon-js-font-color: #519aba;
    --balc_icon-ts-font-color: #37b38b;
    --balc_icon-start-without-debugging-font-color: #37b38b;
}

:root {
    --balc_dialog-display-toolbar-height: 2rem;
    --balc_dialog-display-z-index: 10;
    --balc_dialog-display-box-shadow-blur-radius: 2px;
    --balc_dialog-display-button-entry-margin-right: 5px;
    --balc_dialog-display-button-entry-padding: 3px;
    --balc_drag-display-z-index: 30;
    --balc_tree-view-display-focus-outline-size: 10px;
    --balc_tree-view-display-focus-outline-offset: -5px;
    --balc_dropdown-display-default-background-box-shadow-blur-radius: 2px;
    --balc_dropdown-display-z-index: 20;
    --balc_menu-display-focus-outline-size: 2px;
    --balc_menu-option-display-padding-width: 10px;
    --balc_menu-option-display-focus-outline-size: 2px;
    --balc_editor-tabs-bar-height: 2.6rem;
    --balc_editor-tabs-bar-margin-bottom: 10px;
    --balc_notification-display-z-index: 15;
    --balc_notification-display-box-shadow-blur-radius: 2px;
    --balc_notification-display-toolbar-height: 2rem;
    --balc_hr-height: 1.5px;
    --balc_hr-margin: 5px 0;
}

.balc_resize-column {
    background-color: var(--balc_resize-column-background-color);
    height: 100%;
    cursor: e-resize;
}

.balc_resize-row {
    background-color: var(--balc_resize-row-background-color);
    width: 100%;
    cursor: n-resize;
}

.balc_resize-handle-north {
    cursor: n-resize;
}

.balc_resize-handle-east {
    cursor: e-resize;
}

.balc_resize-handle-south {
    cursor: s-resize;
}

.balc_resize-handle-west {
    cursor: w-resize;
}

.balc_resize-handle-north-east {
    cursor: ne-resize;
}

.balc_resize-handle-south-east {
    cursor: se-resize;
}

.balc_resize-handle-south-west {
    cursor: sw-resize;
}

.balc_resize-handle-north-west {
    cursor: nw-resize;
}

.balc_drag-display {
    z-index: var(--balc_drag-display-z-index);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.balc_dialog-display {
    z-index: var(--balc_dialog-display-z-index);
    background-color: var(--balc_dialog-display-background-color);
    box-shadow: 0 0 var(--balc_dialog-display-box-shadow-blur-radius) var(--balc_primary-box-shadow-color);
}

.balc_dialog-display-toolbar {
    height: var(--balc_dialog-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--balc_dialog-display-toolbar-background-color);
}

.balc_dialog-display-buttons {
    display: flex;
    align-items: center;
}

.balc_dialog-display-button-entry {
    margin-right: var(--balc_dialog-display-button-entry-margin-right);
    padding: var(--balc_dialog-display-button-entry-padding);
    display: inline-flex;
    height: fit-content;
}

.balc_dialog-display-button-entry:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_dialog-display-body {
    height: calc(100% - var(--balc_dialog-display-toolbar-height));
}

.balc_tree-view-display-root {
    width: max-content;
    min-width: 100%;
}

.balc_tree-view-display:focus {
    outline: solid var(--balc-primary-outline-color) var(--balc_tree-view-display-focus-outline-size);
    outline-offset: var(--balc_tree-view-display-focus-outline-offset);
}

.balc_tree-view-display-title {
    position: relative;
    white-space: nowrap;
    display: flex;
    cursor: default;
    min-width: 100%;
}

.balc_tree-view-display-title:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_tree-view-display-title.balc_active {
    background-color: var(--balc-primary-active-not-focused-background-color);
}

.balc_tree-view-display-title.balc_active:focus {
    background-color: var(--balc-primary-active-focused-background-color);
}

.balc_tree-view-display-expansion:hover {
    background-color: var(--balc_primary-font-color);
    color: var(--balc_body-background-color);
}

.balc_tree-view-display-body {
    position: relative;
}

.balc_tree-view-display-body-border {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: var(--balc_hr-height) solid var(--balc_hr-primary-background-color);
    opacity: var(--balc_hr-opacity);
}

.balc_out-of-bounds-click-display {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.balc_dropdown-display {
    z-index: var(--balc_dropdown-display-z-index);
    position: absolute;
    background-color: var(--balc_dropdown-display-default-background-color);
    box-shadow: 0 0 var(--balc_dropdown-display-default-background-box-shadow-blur-radius) var(--balc_primary-box-shadow-color);
}


.balc_menu-display:focus {
    outline: solid var(--balc_menu-display-focus-outline-size) var(--balc_primary-emphasis-foreground-color);
}

.balc_menu-option-display {
    position: relative;
    white-space: nowrap;
    cursor: default;
    padding: 0 var(--balc_menu-option-display-padding-width);
}

.balc_menu-option-display.balc_active {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_menu-option-display:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_menu-option-display:focus {
    outline: solid var(--balc_menu-option-display-focus-outline-size) var(--balc_primary-emphasis-foreground-color);
}

.balc_menu-option-widget {
    padding-bottom: 10px;
}

.balc_button {
    background-color: var(--balc_button-background-color);
    color: var(--balc_button-foreground-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balc_button:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_button:focus {
    outline: solid var(--balc_menu-option-display-focus-outline-size) var(--balc_primary-emphasis-foreground-color);
    background-color: var(--balc_primary-hover-background-color);
}

.balc_button.balc_active {
    background-color: var(--balc_active-button-background-color);
    color: var(--balc_active-button-primary-font-color);
}

.balc_button.balc_disabled {
    background-color: var(--balc_primary-disabled-background-color);
    color: var(--balc_primary-disabled-foreground-color);
}

.balc_button.balc_disabled:hover {
    background-color: var(--balc_primary-disabled-hover-background-color);
    color: var(--balc_primary-disabled-hover-foreground-color);
}

.lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: .2em;
    border-radius: 50%;
    border: .15em solid var(--balc_primary-font-color);
    border-color: var(--balc_primary-font-color) transparent var(--balc_primary-font-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.balc_notification {
    position: fixed;
    z-index: var(--balc_notification-display-z-index);
    background-color: var(--balc_notification-display-background-color);
    box-shadow: 0 0 var(--balc_notification-display-box-shadow-blur-radius) var(--balc_primary-box-shadow-color);
}

.balc_notification-toolbar {
    height: var(--balc_notification-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--balc_notification-display-toolbar-background-color);
}

.balc_notification-control-buttons {
    display: flex;
    align-items: center;
}

.balc_notification-body {
    height: calc(100% - var(--balc_notification-display-toolbar-height));
    overflow: auto;
}

.balc_tree-view-exception {
    color: var(--balc_error-foreground-color)
}

.balc_context-menu-content {
    z-index: var(--balc_dropdown-display-z-index);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    color: var(--balc_primary-font-color);
}

.balc_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.balc_editor-tabs-bar {
    display: flex;
    height: var(--balc_editor-tabs-bar-height);
    margin-bottom: 10px;
    overflow-x: auto;
    font-size: 0.8em;
}

.balc_editor-tab-display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
    /*background-color: var(--balc_secondary-background-color);*/
    cursor: pointer;
}

.balc_editor-tab-display:hover {
    /*background-color: var(--balc_primary-hover-background-color);*/
    /*color: var(--balc_primary-hover-font-color);*/
}

.balc_editor-tab-display.balc_active {
    /*color: var(--balc_primary-active-font-color);*/
    /*background-color: var(--balc_primary-active-background-color);*/
    /*box-shadow: var(--balc_primary-overlay-box-shadow);*/
}

.balc_editor-tab-close-display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-left: 5px;
    /*background-color: var(--balc_secondary-background-color);*/
}

.balc_editor-tab-close-display:hover {
    /*background-color: var(--balc_tertiary-hover-background-color);*/
    /*color: var(--balc_tertiary-hover-font-color);*/
}










