:root {
    --pte_primary-cursor-color: #2b2b2b;
    --pte_secondary-cursor-color: transparent;
    --pte_active-row: #008cf3;
    --pte_active-unfocused-row: #606060;
    --pte_active-line-number-font-color: rgb(255, 0, 174);
    --pte_hover-font-color: #0000ff;
    --pte_active-border-color: #0000ff;
    --pte_token-keyword: rgb(216, 160, 223);
    --pte_token-type: #4EC9B0;
}

.pte_visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.pte_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.pte_plain-text-editor-spawn {
    height: calc(100% - 70px);
    margin-top: 10px;
}

.pte_plain-text-editor-wrapping {
    height: calc(100% - 70px);
    padding: 10px;
}

.pte_plain-text-editor-display {
    min-height: 100px;
    min-width: 100px;
    height: calc(100% - 5.5em - 10px);
    margin: 10px;
    overflow: auto;
    border: 1.5px solid black;
    font-family: monospace;
    position: relative;
}

    .pte_plain-text-editor-display.pte_focused {
        border: 1.5px solid var(--pte_active-border-color);
        box-shadow: 0px 0px 6px rgb(0, 0, 0);
    }

.pte_active-row-position-marker.pte_visually-hidden.pte_unselectable {
    height: 34px;
}

.pte_plain-text-editor-text-token-display:hover {
    outline: 1.5px solid var(--pte_hover-font-color);
}

.pte_character-renderer {
    position: relative;
    display: inline-flex;
    height: 100%;
}

@keyframes pte_blink {
    0% {
        background-color: var(--pte_primary-cursor-color);
    }

    50% {
        background-color: var(--pte_secondary-cursor-color);
    }
}

.pte_cursor-display {
    position: absolute;
    display: inline-block;
    width: 1.5px;
    right: -1px;
    top: -1px;
    height: calc(100% + 2px);
    background-color: var(--pte_primary-cursor-color);
    animation-name: pte_blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite
}

.pte_plain-text-editor-row-display {
    display: flex;
    white-space: nowrap;
}

.pte_plain-text-editor-row-display-body {
    display: inline-flex;
    border: 1.5px solid transparent;
}

.pte_focused .pte_plain-text-editor-row-display.pte_active .pte_plain-text-editor-row-display-body {
    border: 1.5px solid var(--pte_active-row);
}

.pte_plain-text-editor-row-display.pte_active .pte_plain-text-editor-row-display-body {
    border: 1.5px solid var(--pte_active-unfocused-row);
}

.pte_plain-text-editor-line-number-display {
    display: inline-flex;
}

.pte_focused .pte_plain-text-editor-row-display.pte_active .pte_plain-text-editor-line-number-display {
    color: var(--pte_active-line-number-font-color);
}

.pte_plain-text-editor-footer {
    display: flex;
    height: 1.5em;
    align-items: center;
    justify-content: space-between;
    margin-left: 2px;
    border-top: 1.5px solid var(--bstudio_primary-border-color);
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.pte_plain-text-editor-footer-entry {
    height: 100%;
    display: inline-flex;
    align-items: center;
    min-width: 3ch;
}

    .pte_plain-text-editor-footer-entry:not(:last-child) {
        border-right: 1.5px solid var(--bstudio_primary-border-color);
        padding-right: 2px;
    }

.pte_plain-text-editor-text-token-display-keyword {
    color: var(--pte_token-keyword);
}

.pte_plain-text-editor-text-token-display-type {
    color: var(--pte_token-type);
}