@using BlazorStudio.RazorLib.TaskModelManager.Helpers
@using BlazorStudio.ClassLib.TaskModelManager

<div class="bstudio_task-model-manager-dialog-entry-point-display"
     @onclick="OpenTaskModelManagerDialogOnClick">
    
    <span>Task Manager</span>

    <TaskModelManagerDialogEntryPointTaskModelListPreviewDisplay GetTaskModelsFunc="() => TaskModelManagerService.ActiveTaskModels"
                                                                 ListTitle="Active Task Models"
                                                                 ShortListTitle="Active"
                                                                 ClassParameter="bstudio_primary"/>

    <TaskModelManagerDialogEntryPointTaskModelListPreviewDisplay GetTaskModelsFunc="() => TaskModelManagerService.SeeminglyUnresponsiveTaskModels"
                                                                 ListTitle="SeeminglyUnresponsive Task Models"
                                                                 ShortListTitle="Seem Unresponsive"
                                                                 ClassParameter="bstudio_warning"/>

    <TaskModelManagerDialogEntryPointTaskModelListPreviewDisplay GetTaskModelsFunc="() => TaskModelManagerService.FailedTaskModels"
                                                                 ListTitle="Failed Task Models"
                                                                 ShortListTitle="Failed"
                                                                 ClassParameter="bstudio_danger"/>

    <TaskModelManagerDialogEntryPointTaskModelListPreviewDisplay GetTaskModelsFunc="() => TaskModelManagerService.SuccessfulTaskModels"
                                                                 ListTitle="Successful Task Models"
                                                                 ShortListTitle="Successful"
                                                                 ClassParameter="bstudio_success"/>
</div>