<div class="pte_plain-text-editor-spawn">
    @if (_plainTextEditorWasInitialized)
    {
        <PlainTextEditor.RazorLib.PlainTextEditorCase.PlainTextEditorDisplay PlainTextEditorKey="PlainTextEditorKey" />
    }
    else
    {
        <h1>Loading rte...</h1>
    }
</div>

