@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bte_drag-display"
     style="@StyleCss"
     @onmousemove="DispatchSetDragStateActionOnMouseMove"
     @onmouseup="DispatchSetDragStateActionOnMouseUp">
    
</div>