@typeparam T

<button @onclick="SetTargetComponent"
        class="btn btn-primary">
    Set Target Component
</button>

@if (_virtualizeCoordinateSystemComponent is null)
{
    <div>_virtualizeCoordinateSystemComponent is null</div>
}
else
{
    <div class="bstudio_virtualize-coordinate-system">
        <div>
            @@_data.Length

            &nbsp;->&nbsp;

            @_virtualizeCoordinateSystemComponent._data.Length
        </div>
        <div>
            @@_scrollRight

            &nbsp;->&nbsp;

            @_virtualizeCoordinateSystemComponent._scrollRight
        </div>
        <div>
            @@_scrollLeft
            
            &nbsp;->&nbsp;
            
            @_virtualizeCoordinateSystemComponent._scrollLeft
        </div>

        _dimensions = null!;
    
        private Dimensions _leftBoundaryDimensions = null!;
        private Dimensions _rightBoundaryDimensions = null!;
        private Dimensions _topBoundaryDimensions = null!;
        private Dimensions _bottomBoundaryDimensions = null!;
    </div>
}
