@using BlazorStudio.ClassLib.Context
@using BlazorStudio.ClassLib.Store.FolderExplorerCase
@using BlazorStudio.RazorLib.ContextCase

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bstudio_folder-explorer-display"
                 StyleCssString="@($"height: 100% {FolderExplorerElementDimensions.StyleString}")">
    
    <div class="bstudio_section-title">
        Folder Explorer
    </div>
    
    <div class="bstudio_section-body">
        @{
            var folderExplorerState = FolderExplorerStateWrap.Value;

            if (folderExplorerState.AbsoluteFilePath is null)
            {
                <ButtonDisplay OnClickFunc="async () => await FolderExplorerState.ShowInputFileAsync(Dispatcher)">
                    Open Folder
                </ButtonDisplay>
            }
            else
            {
                
            }
        }
    </div>
</ContextBoundary>