@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@typeparam T

<div class="bstudio_tree-view-wrap-display">

    <h3>TreeViewWrapDisplay</h3>

    @if (TreeViewWrapStateSelection.Value is null)
    {
        <div>TVWSS is Null</div>
    }
    else
    {
        foreach (var item in RootItems)
        {
            <TreeViewDisplay Item="item" />
        }
    }
</div>
