@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorStudio.ClassLib.Store.TreeViewCase
@typeparam T

<div class="bstudio_tree-view-wrap-display">

    @if (TreeViewWrapStateSelection.Value is null)
    {
        <div>TreeViewWrap is Loading...</div>
    }
    else
    {
        <CascadingValue Value="GetChildrenFunc">
            <CascadingValue Value="ChildContent">
                @foreach (var treeView in TreeViewWrapStateSelection.Value.RootTreeViews)
                {
                    <TreeViewDisplay TreeView="(TreeView<T>) treeView" />
                }
            </CascadingValue>
        </CascadingValue>
    }
</div>
