@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorStudio.ClassLib.Store.TreeViewCase
@typeparam T

<div class="bstudio_tree-view-wrap-display">

    @if (TreeViewWrapStateSelection.Value is null)
    {
        <div>TreeViewWrap is Loading...</div>
    }
    else
    {
        @foreach (var treeView in TreeViewWrapStateSelection.Value.ActiveTreeViews)
        {
            <div>@ChildContent((T) treeView.ItemUntyped)</div>
        }

        <CascadingValue Value="GetChildrenFunc">
            <CascadingValue Value="ChildContent">
                <CascadingValue Name="Depth" Value="0">
                    <CascadingValue Value="TreeViewWrapKey">
                        @foreach (var treeView in TreeViewWrapStateSelection.Value.RootTreeViews)
                        {
                            <TreeViewDisplay TreeView="(TreeView<T>) treeView" />
                        }
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    }
</div>
