@typeparam T
@using BlazorStudio.ClassLib.Store.TreeViewCase

<div class="bstudio_tree-view-display">
    
    <span @onclick="ToggleIsExpandedOnClick">
        @if (TreeView.IsExpanded)
        {
            <IconChevronDown />
        }
        else
        {
            <IconChevronRight />
        }
    </span>

    @ChildContent(TreeView.Item)

    <div class="bstudio_tree-view-display-body">
        @if (TreeView.IsExpanded)
        {
            foreach (var item in TreeView.Children)
            {
                <TreeViewDisplay TreeView="(TreeView<T>) item"/>
            }
        }
    </div>
</div>
