@page "/plainTextEditorExperiments"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="es_plain-text-editor-experiments">
    <BlazorStudio.RazorLib.Editor.EditorDisplay Dimensions="_editorDisplayDimensions"/>
</div>