@page "/virtualizeCoordinateSystem"
@using Experiments.Server.Components

<PageTitle>VirtualizeCoordinateSystem&lt;T&gt;</PageTitle>

<h3>
    VirtualizeCoordinateSystem&lt;T&gt; Example

    <VirtualizeCoordinateSystemExample />
</h3>