@using BlazorStudio.RazorLib.SolutionExplorer

<div title="@TreeViewNamespacePath.Id">
    <SolutionExplorerIconDisplay AbsoluteFilePath="TreeViewNamespacePath.Item?.AbsoluteFilePath"/>
    @(TreeViewNamespacePath.Item?.AbsoluteFilePath.FilenameWithExtension ?? "null")
</div>