@using BlazorStudio.RazorLib.File
@using BlazorALaCarte.TreeView
@using BlazorALaCarte.TreeView.Displays

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var gitFile = TreeViewGitFile.Item;

    var cssClass = "bstudio_git-file"; 
}

@if (gitFile is null)
{
    <div class="@cssClass"
         title="null">
        null
    </div>
}
else
{
    <div class="@cssClass"
         title="@gitFile.GitDirtyReason">
    
        @{
            var gitState = GitStateWrap.Value;
            var solutionExplorerState = SolutionExplorerStateWrap.Value;

            string shortenedParentDirectoryFilePathString = gitFile.AbsoluteFilePath
                .GetAbsoluteFilePathString();
        
            if (gitFile.AbsoluteFilePath.ParentDirectory is not null &&
                gitState.GitFolderAbsoluteFilePath?.ParentDirectory is not null)
            {
                if (solutionExplorerState.SolutionAbsoluteFilePath is not null)
                {
                    shortenedParentDirectoryFilePathString = TryShortenGitFilePath(
                        gitFile.AbsoluteFilePath.ParentDirectory,
                        solutionExplorerState.SolutionAbsoluteFilePath);
                }
                else
                {
                    shortenedParentDirectoryFilePathString = TryShortenGitFilePath(
                        gitFile.AbsoluteFilePath.ParentDirectory,
                        gitState.GitFolderAbsoluteFilePath.ParentDirectory);
                }
            }
        }
    
        <FileIconDisplay AbsoluteFilePath="gitFile.AbsoluteFilePath"/>
    
        <em class="balc_em">
            @gitFile.AbsoluteFilePath.FilenameWithExtension
        </em>
    
        <span>
            @shortenedParentDirectoryFilePathString
        </span>
    </div>
}
