<div>
    
    @{
        var displayText = TreeViewAbsoluteFilePath.Item?.FilenameWithExtension ?? "null";
    }
    
    @if (!String.IsNullOrWhiteSpace(SearchQuery) && 
         displayText.Contains(SearchQuery, StringComparison.InvariantCultureIgnoreCase))
    {
        @: matched
    }

    @displayText
</div>