@using BlazorStudio.RazorLib.SolutionExplorer
@using BlazorStudio.RazorLib.File

<div title="@TreeViewNamespacePath.TreeViewNodeKey">
    <FileIconDisplay AbsoluteFilePath="TreeViewNamespacePath.Item?.AbsoluteFilePath"/>
    @(TreeViewNamespacePath.Item?.AbsoluteFilePath.FilenameWithExtension ?? "null")
</div>