<div class="bstudio_quick-select-display bstudio_focus-display-extra-large"
     tabindex="-1"
     @ref="_quickSelectDisplayElementReference"
     @onkeydown:preventDefault="true"
     @onkeydown:stopPropagation="true"
     @onkeydown="HandleOnKeyDown"
     @onfocusout="HandleOnFocusOut">
     
     <CascadingValue Value="_activeEntryIndex">
          @{
               var localQuickSelectState = QuickSelectState;

               for (var i = 0; i < localQuickSelectState.QuickSelectItems.Length; i++)
               {
                    var index = i;
                    var item = localQuickSelectState.QuickSelectItems[index];
                    
                    <QuickSelectDisplayEntry QuickSelectItem="@item"
                                             EntryIndex="index" />
               }
          }
     </CascadingValue>
</div>