<div class="bstudio_quick-select-display bstudio_focus-display-extra-large"
     tabindex="0"
     @ref="_quickSelectDisplayElementReference"
     @onkeydown="HandleOnKeyDown"
     @onfocusout="HandleOnFocusOut">

    <CascadingValue Value="_activeEntryIndex">
        @{
            var localQuickSelectState = QuickSelectState;

            for (var i = 0; i < localQuickSelectState.QuickSelectItems.Length; i++)
            {
                var index = i;
                var item = localQuickSelectState.QuickSelectItems[index];

                <QuickSelectDisplayEntry QuickSelectItem="@item"
                                         EntryIndex="index"/>
            }
        }
    </CascadingValue>
</div>