@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_font-settings-display">
    Font-Size:&nbsp;
    <input type="number"
           @bind="FontSizeInPixels"
           class="bstudio_input" />
    
    <div>
        font-size&nbsp;value:&nbsp;<em>@(FontStateWrap.Value.FontSizeInPixels)px</em>
    </div>
</div>