@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_font-settings-display">
    Font-Size (px):&nbsp;
    <input type="number"
           @bind="FontSizeInPixels"
           class="bstudio_input" />
</div>