@using BlazorStudio.ClassLib.Html
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_terminal-display"
     style="@Dimensions.DimensionsCssString">

    <div>
        Terminals
    </div>
    
    @{
        var localTerminalState = TerminalStatesWrap.Value;

        <TerminalTabs TerminalEntries="localTerminalState.TerminalEntries" />

        var activeTerminalEntry = localTerminalState.TerminalEntries[localTerminalState.ActiveIndex];

        <TerminalEntryDisplay TerminalEntry="activeTerminalEntry" />
    }
</div>