@using BlazorStudio.ClassLib.Context

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bstudio_terminal-display"
                 StyleCssString="height: 100%">

    <div class="bstudio_section-title">
        Terminal Display
    </div>

    <div class="bstudio_section-body">
        Body
    </div>
</ContextBoundary>