@using BlazorStudio.ClassLib.Context

<ContextBoundary ContextRecord="ContextFacts.TerminalContext"
                 ClassCssString="bstudio_terminal-display"
                 StyleCssString="height: 100%; width: 100%;">

    <div class="bstudio_section-title">
        Terminal Display
    </div>

    <div class="bstudio_section-body"
         style="width: 100%;">
        
        <TerminalOutputDisplay/>
    </div>
</ContextBoundary>