@using BlazorStudio.ClassLib.Html
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_terminal-display"
     style="@Dimensions.DimensionsCssString">

    <h5 class="bstudio_large-title" style="padding: 5px;">Terminals</h5>

    <div class="bstudio_terminal-body" style="padding: 0 5px; height: calc(100% - 2rem - 10px);">
        @{
            var localTerminalState = TerminalStatesWrap.Value;

            <TerminalTabs TerminalEntries="localTerminalState.TerminalEntries" />

            var activeTerminalEntry = localTerminalState.TerminalEntries[localTerminalState.ActiveIndex];

            <TerminalEntryDisplay TerminalEntry="activeTerminalEntry" />
        }
    </div>
</div>