@using BlazorStudio.ClassLib.Context

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bstudio_terminal-display"
                 StyleCssString="height: 100%; width: 100%;">

    <div class="bstudio_section-title">
        Terminal Display
    </div>

    <div class="bstudio_section-body"
         style="width: 100%;">
        Body <ButtonDisplay OnClickFunc="async () => { }">StateHasChanged</ButtonDisplay>
        
        <div style="width: 100%; overflow-wrap: anywhere;">
            @{
                var terminalResultState = TerminalResultStateWrap.Value;

                foreach (var result in TerminalResultStateWrap.Value.TerminalCommandResultMap)
                {
                    <div>
                        @ParseHttpLinks(result.Value.StandardOut.ToString())    
                    </div>
                }
            }
        </div>
    </div>
</ContextBoundary>