@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_terminal-entry-display">

<pre style="white-space: break-spaces;">
@(TerminalEntryOutputStatesSelection.Value ?? "null")
</pre>
    
</div>