<div class="bstudio_terminal-tab-display bstudio_tab @IsActiveCssClass"
     @onclick="DispatchSetActiveTerminalEntryAction">
    
    @TerminalEntry.Title
    
    &nbsp;
    
    @if (TerminalEntry.IsExecuting)
    {
        <IconLoader />
    }
</div>