@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_terminal-entry-display">

    @{
        var currentTerminalOutput = TerminalEntryOutputStatesSelection.Value ?? string.Empty;
    }

    @if (TerminalEntry.IsMarkupString)
    {
        <text>@((MarkupString) currentTerminalOutput)</text>
    }
    else
    {
        <pre style="white-space: break-spaces;">
@(TerminalEntryOutputStatesSelection.Value ?? "null")
    </pre>
    }
</div>