@using BlazorStudio.ClassLib.Html
@using BlazorStudio.ClassLib.Contexts
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary @ref="_contextBoundary"
                 CssClassString="bstudio_terminal-display bstudio_focus-display-large"
                 ContextKey="ContextFacts.TerminalDisplayContext.ContextKey">

    <h5 class="bstudio_large-title" style="padding: 5px;">Terminals</h5>

    <div class="bstudio_terminal-body" style="padding: 0 5px; height: calc(100% - 2rem - 10px);">
        @{
            var localTerminalState = TerminalStatesWrap.Value;

            <TerminalTabs TerminalEntries="localTerminalState.TerminalEntries"/>

            var activeTerminalEntry = localTerminalState.TerminalEntries[localTerminalState.ActiveIndex];

            <TerminalEntryDisplay TerminalEntry="activeTerminalEntry"/>
        }
    </div>
</ContextBoundary>