@using BlazorStudio.ClassLib.Panel
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var panelsCollection = PanelsCollectionWrap.Value;

    var panelRecord = panelsCollection.PanelRecordsList
        .FirstOrDefault(x => x.PanelRecordKey == PanelRecordKey);
}

<div class="bstudio_panel @PanelPositionCssClass">
    
    @if (panelRecord is not null)
    {
        <div>
            @PanelPositionCssClass
        </div>        
    }
    else
    {
        <div>
            PanelRecord was null
        </div>
    }
</div>