@using BlazorStudio.ClassLib.Panel
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var panelsCollection = PanelsCollectionWrap.Value;

    var panelRecord = panelsCollection.PanelRecordsList
        .FirstOrDefault(x => x.PanelRecordKey == PanelRecordKey);
}

<div class="bstudio_panel @PanelPositionCssClass @CssClassString"
     style="@(panelRecord?.ElementDimensions.StyleString ?? string.Empty)">
    
    <div class="bstudio_panel-tabs">
        @if (panelRecord is not null)
        {
            foreach (var panelTab in panelRecord.PanelTabs)
            {
                <PanelTabDisplay PanelTab="panelTab"/>
            }
        }
    </div>
    
    <div class="bstudio_panel-body">
        <div class="bstudio_section-title">
            @if (panelRecord is not null)
            {
                var activePanelTab = panelRecord.PanelTabs
                    .FirstOrDefault(x =>
                        x.PanelTabKey == panelRecord.ActivePanelTabKey);
                
                <text>
                    @(activePanelTab?.DisplayName ?? "no active tab")
                </text>
            }
        </div>
    
        <div class="bstudio_section-body">
            Panel Body
        </div>
    </div>
    
</div>