<button class="bstudio_panel-tab balc_button balc_tab @IsActiveCssClassString"
        @onclick="DispatchSetActivePanelTabActionOnClick">
    <span>
        @PanelTab.DisplayName
    </span>
</button>