@using BlazorStudio.ClassLib.Panel
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@{
    var panelsCollection = PanelsCollectionWrap.Value;

    var panelRecord = panelsCollection.PanelRecordsList
        .FirstOrDefault(x => x.PanelRecordKey == PanelRecordKey);
}

<div class="bstudio_panel @PanelPositionCssClass @CssClassString"
     style="@(panelRecord?.ElementDimensions.StyleString ?? string.Empty)">
    
    <div class="bstudio_section-title">
        @if (panelRecord is not null)
        {
            <text>
                Panel @PanelPositionCssClass        
            </text>
        }
        else
        {
            <text>
                PanelRecord was null        
            </text>
        }
    </div>

    <div class="bstudio_section-body">
        Panel Body
    </div>
    
</div>