<button class="bstudio_panel-tab balc_button balc_tab @IsActiveCssClassString"
        @onclick="DispatchSetActivePanelTabActionOnClick"
        @onmousedown:stopPropagation="true"
        @onmousedown="HandleOnMouseDownAsync"
        @onmouseup:stopPropagation="true"
        @onmouseup="HandleOnMouseUpAsync"
        @onmouseout="HandleOnMouseOutAsync">
    <span>
        @PanelTab.DisplayName
        
        @if (PanelsCollectionWrap.Value.ThinksIsBeingDragged)
        {
            <div class="bstudio_panel-tab-dropzone bstudio_panel-tab-dropzone-top">
            </div>
            
            <div class="bstudio_panel-tab-dropzone bstudio_panel-tab-dropzone-bottom">
            </div>
        }
    </span>
</button>

@if (PanelTab.IsBeingDragged)
{
    <div class="bstudio_panel-tab-drag-display"
         style="@PanelTab.BeingDraggedDimensions.StyleString">
        @PanelTab.DisplayName
    </div>
}