@using BlazorStudio.RazorLib.File
@using BlazorALaCarte.TreeView
@using BlazorALaCarte.TreeView.Displays

<div class="bstudio_git-file"
     title="@GitFile.GitDirtyReason">
    
    @{
        var gitState = GitStateWrap.Value;
        var solutionExplorerState = SolutionExplorerStateWrap.Value;

        string shortenedParentDirectoryFilePathString = GitFile.AbsoluteFilePath
            .GetAbsoluteFilePathString();
        
        if (GitFile.AbsoluteFilePath.ParentDirectory is not null &&
            gitState.GitFolderAbsoluteFilePath?.ParentDirectory is not null)
        {
            if (solutionExplorerState.SolutionAbsoluteFilePath is not null)
            {
                shortenedParentDirectoryFilePathString = TryShortenGitFilePath(
                    GitFile.AbsoluteFilePath.ParentDirectory,
                    solutionExplorerState.SolutionAbsoluteFilePath);
            }
            else
            {
                shortenedParentDirectoryFilePathString = TryShortenGitFilePath(
                    GitFile.AbsoluteFilePath.ParentDirectory,
                    gitState.GitFolderAbsoluteFilePath.ParentDirectory);
            }
        }
    }
    
    <FileIconDisplay AbsoluteFilePath="GitFile.AbsoluteFilePath"/>
    
    <em class="balc_em">
        @GitFile.AbsoluteFilePath.FilenameWithExtension
    </em>
    
    <span>
        @shortenedParentDirectoryFilePathString
    </span>
</div>