@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_git-changes-terminal-output">
    @{
        var gitState = GitStateWrap.Value;
    }
    
    @if (gitState is not null)
    {
        foreach (var gitFile in gitState.GitFilesList)
        {
            <GitFileDisplay GitFile="gitFile"/>
        }
    }
</div>