<div class="bstudio_dialog-display"
     style="@DialogRecord.Dimensions.DimensionsString">
    <DynamicComponent Type="DialogRecord.Type"
                      Parameters="DialogRecord.Parameters ?? new()" />
</div>