<div class="bstudio_dialog-display"
     style="@DialogRecord.Dimensions.DimensionsCssString">
    
    @if (DialogRecord.IsTransformable)
    {
        <BlazorStudio.RazorLib.Transformable.TransformableDisplay @ref="_transformableDisplay"
                                                                  Dimensions="DialogRecord.Dimensions"
                                                                  ReRenderFunc="ReRender" />
    }
    
    <div class="bstudio_dialog-display-tool-bar"
         @onmousedown="FireSubscribeToDragEventWithMoveHandle">
        <div class="bstudio_dialog-display-tool-bar-entry bstudio_dialog-display-tool-bar-title">
            @DialogRecord.Title
        </div>
        
        <div class="bstudio_dialog-display-tool-bar-entry bstudio_dialog-display-tool-bar-control-buttons">
            <div class="bstudio_dialog-display-tool-bar-control-buttons-item"
                 @onmousedown:stopPropagation="true"
                 @onclick="MinimizeOnClick">

                <IconMinimize/>
            </div>
            
            <div class="bstudio_dialog-display-tool-bar-control-buttons-item"
                 @onmousedown:stopPropagation="true"
                 @onclick="MaximizeOnClick">

                <IconMaximize/>
            </div>
            
            <div class="bstudio_dialog-display-tool-bar-control-buttons-item"
                 @onmousedown:stopPropagation="true"
                 @onclick="CloseOnClick">

                <IconClose/>
            </div>
        </div>
    </div>

    <DynamicComponent Type="DialogRecord.Type"
                      Parameters="DialogRecord.Parameters ?? new()"/>
</div>