<div class="bstudio_dialog-task-bar-entry">
    <div>
        @DialogRecord.Title
    </div>
    
    <div>
        <div class="bstudio_dialog-task-bar-entry-datum"
             @onclick="ToggleMinimizeOnClick">
             
            @if (DialogRecord.IsMinimized)
            {
                <IconMaximize />
            }
            else
            {
                <IconMinimize/>
            }
        </div>
        
        <div class="bstudio_dialog-task-bar-entry-datum"
             @onclick="CloseOnClick">

            <IconClose/>
        </div>
    </div>
</div>