@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (_displayDialogQuickSelectOverlay)
{
    <div class="bstudio_dialog-quick-select-overlay"
         @onkeydown:preventDefault="true"
         @onkeyup="HandleOnKeyUp">
        <CascadingValue Name="ActiveEntryIndex" Value="_activeEntryIndex">
            @{
                var dialogStates = DialogStatesWrap.Value;

                for (var i = 0; i < dialogStates.List.Count; i++)
                {
                    var index = i;
                    var dialog = dialogStates.List[index];
                    <DialogQuickSelectEntry EntryIndex="index"
                                            DialogRecord="dialog"/>
                }
            }
        </CascadingValue>
    </div>    
}
