<div class="bstudio_dialog-display bstudio_focus-display-large"
     style="@OverrideZIndex @DialogRecord.Dimensions.DimensionsCssString"
     @onfocusin="HandleOnFocusIn"
     @onfocusin:stopPropagation="true"
     tabindex="-1"
     @ref="_dialogDisplayElementReference">

    <ContextBoundary @ref="_contextBoundary" ContextRecord="ContextStateSelector.Value">
        @if (DialogRecord.IsTransformable)
        {
            <BlazorStudio.RazorLib.Transformable.TransformableDisplay @ref="_transformableDisplay"
                                                                      Dimensions="DialogRecord.Dimensions"
                                                                      ReRenderFunc="ReRender"/>
        }

        <div class="bstudio_dialog-display-tool-bar"
             @onmousedown="FireSubscribeToDragEventWithMoveHandle">
            <div class="bstudio_dialog-display-tool-bar-entry bstudio_dialog-display-tool-bar-title">
                @DialogRecord.Title
            </div>

            <div class="bstudio_dialog-display-tool-bar-entry bstudio_dialog-display-tool-bar-control-buttons">
                <div class="bstudio_dialog-display-tool-bar-control-buttons-item"
                     @onmousedown:stopPropagation="true"
                     @onclick="MinimizeOnClick">

                    <IconMinimize/>
                </div>

                <div class="bstudio_dialog-display-tool-bar-control-buttons-item"
                     @onmousedown:stopPropagation="true"
                     @onclick="MaximizeOnClick">

                    <IconMaximize/>
                </div>

                <div class="bstudio_dialog-display-tool-bar-control-buttons-item"
                     @onmousedown:stopPropagation="true"
                     @onclick="CloseOnClick">

                    <IconClose/>
                </div>
            </div>
        </div>

        <div class="bstudio_dialog-display-body">
            <CascadingValue Value="DialogRecord">
                <DynamicComponent Type="DialogRecord.Type"
                                  Parameters="DialogRecord.Parameters ?? new()"/>
            </CascadingValue>
        </div>

    </ContextBoundary>
</div>