<div class="bstudio_dialog-display"
     style="@DialogRecord.Dimensions.DimensionsString">
    
    <div class="bstudio_dialog-display-tool-bar">
        <div class="bstudio_dialog-display-tool-bar-entry bstudio_dialog-display-tool-bar-title">
            @DialogRecord.Title
        </div>
        
        <div class="bstudio_dialog-display-tool-bar-entry bstudio_dialog-display-tool-bar-control-buttons">
            <div class="bstudio_dialog-display-tool-bar-control-buttons-item">
                <IconMinimize/>
            </div>
            
            <div class="bstudio_dialog-display-tool-bar-control-buttons-item">
                <IconMaximize/>
            </div>
            
            <div class="bstudio_dialog-display-tool-bar-control-buttons-item">
                <IconClose/>
            </div>
        </div>
    </div>

    <DynamicComponent Type="DialogRecord.Type"
                      Parameters="DialogRecord.Parameters ?? new()"/>
</div>