@using BlazorStudio.ClassLib.Context
@using BlazorStudio.RazorLib.ContextCase
@using BlazorStudio.RazorLib.ResizableCase
<ContextBoundary ContextRecord="ContextFacts.DialogDisplayContext"
                 ClassCssString="bstudio_dialog-display"
                 StyleCssString="@StyleCssString">
    @if (DialogRecord.IsResizable)
    {
        <ResizableDisplay @ref="_resizableDisplay"
                          ElementDimensions="DialogRecord.ElementDimensions"
                          ReRenderFuncAsync="ReRenderAsync"/>
    }

    <div class="bstudio_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandle">
        <div class="bstudio_dialog-display-title">
            @DialogRecord.Title
        </div>

        @* TODO: Use the <ButtonDisplay>...</ButtonDisplay> instead of class="bstudio_dialog-display-button-entry"*@
        <div class="bstudio_dialog-display-buttons"
             @onmousedown:stopPropagation="true">
            <div class="bstudio_dialog-display-button-entry">
                <IconMinimize/>
            </div>

            <div class="bstudio_dialog-display-button-entry">
                <IconMaximize/>
            </div>

            <div class="bstudio_dialog-display-button-entry"
                 @onclick="DispatchDisposeDialogRecordAction">
                <IconClose/>
            </div>
        </div>
    </div>

    <div class="bstudio_dialog-display-body">
        <CascadingValue Value="DialogRecord">
            <DynamicComponent @key="DialogRecord.DialogKey"
                              Type="DialogRecord.RendererType"
                              Parameters="DialogRecord.Parameters"/>
        </CascadingValue>
    </div>
</ContextBoundary>