<div class="bstudio_background-task">
    <div class="bstudio_background-task-title">
        @BackgroundTask.Name
    </div>
    
    <div class="bstudio_background-task-body">
        @BackgroundTask.Description
    </div>
</div>