@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_drag-display"
     style="@StyleCss"
     @onmousemove="DispatchNotifyMouseEventOnMouseMove"
     @onmouseup="DispatchHideOnMouseUp">
    
</div>