@using BlazorStudio.ClassLib.Context
@using BlazorStudio.RazorLib.ContextCase
@using BlazorCommon.RazorLib.Dropdown
@using BlazorCommon.RazorLib.TreeView
@using BlazorCommon.RazorLib.TreeView.Displays

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bstudio_folder-explorer-display"
                 StyleCssString="height: 100%">
    @{
        <div>TODO: Solution Explorer</div>
    }
</ContextBoundary>