@using BlazorStudio.RazorLib.Menu

<div class="bstudio_dropdown-display-default-background"
     style="@GetStyleForContextMenu(TreeViewDisplayContextMenuEvent.CapturedMouseEventArgs)">
    <MenuDisplay MenuRecord="GetContextMenu(TreeViewDisplayContextMenuEvent)"/>
</div>