@using BlazorStudio.ClassLib.Context
@using BlazorStudio.RazorLib.ContextCase
@using BlazorStudio.RazorLib.TreeView

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bstudio_folder-explorer-display"
                 StyleCssString="@($"height: 100% {SolutionExplorerElementDimensions.StyleString}")">
    
    <div class="bstudio_section-title">
        Solution Explorer
    </div>
    
    <div class="bstudio_section-body">
        @{
            var solutionExplorerState = SolutionExplorerStateWrap.Value;

            if (solutionExplorerState.AbsoluteFilePath is null)
            {
                <ButtonDisplay OnClickFunc="OpenSolutionOnClick">
                    Open Solution
                </ButtonDisplay>
            }
            else
            {
                <TreeViewDisplay TreeViewModel="_solutionTreeViewModel">
                    <ItemRenderFragment Context="treeViewModel">
                        @treeViewModel.Item.FilenameWithExtension
                    </ItemRenderFragment>

                    <ContextMenuEventRenderFragment Context="contextMenuEvent">
                        <div class="bstudio_dropdown-display-default-background"
                             style="@GetStyleForContextMenu(contextMenuEvent.CapturedMouseEventArgs)">
                            <MenuDisplay MenuRecord="GetContextMenu(contextMenuEvent.TreeViewModel)"/>
                        </div>
                    </ContextMenuEventRenderFragment>
                </TreeViewDisplay>
            }
        }
    </div>
</ContextBoundary>