@using BlazorStudio.ClassLib.FileConstants
<span title="icon"
      class="bstudio_solution-explorer-icon-display">

    @if (AbsoluteFilePath.IsDirectory)
    {
        if (AbsoluteFilePath.FileNameNoExtension == UniqueFileFacts.PROPERTIES)
        {
            <IconProperties/>
        }
        else if (AbsoluteFilePath.FileNameNoExtension == UniqueFileFacts.WWW_ROOT)
        {
            <IconWwwRoot/>
        }
        else
        {
            <IconFolder/>
        }
    }
    else
    {
        switch (AbsoluteFilePath.ExtensionNoPeriod)
        {
            case ExtensionNoPeriodFacts.DOT_NET_SOLUTION:
                <IconSolution/>
                break;
            case ExtensionNoPeriodFacts.C_SHARP_PROJECT:
                <IconProject/>
                break;
            case ExtensionNoPeriodFacts.RAZOR_MARKUP:
                <IconRazor/>
                break;
            case ExtensionNoPeriodFacts.JSON:
                <IconJson/>
                break;
            case ExtensionNoPeriodFacts.C_SHARP_CLASS:
                <IconCSharpClass/>
                break;
            case ExtensionNoPeriodFacts.CSHTML_CLASS:
                <IconCshtml/>
                break;
            case ExtensionNoPeriodFacts.CSS:
                <IconCss/>
                break;
            case ExtensionNoPeriodFacts.JAVA_SCRIPT:
                <IconJs/>
                break;
            case ExtensionNoPeriodFacts.TYPE_SCRIPT:
                <IconTs/>
                break;
            default:
                <IconFile/>
                break;
        }
    }
</span>