@using BlazorStudio.ClassLib.FileConstants

<span title="icon"
      class="bstudio_solution-explorer-icon-display">
      
    
    @switch (AbsoluteFilePath.ExtensionNoPeriod)
    {
        case ExtensionNoPeriodFacts.DOT_NET_SOLUTION:
            <IconSolution/>
            break;
        case ExtensionNoPeriodFacts.C_SHARP_PROJECT:
            <IconProject />
            break;
        case ExtensionNoPeriodFacts.RAZOR_MARKUP:
            <IconRazor />
            break;
        default:
            <IconFile />
            break;
    }
</span>