@using BlazorStudio.ClassLib.Context
@using BlazorStudio.RazorLib.ContextCase
@using BlazorCommon.RazorLib.Dropdown
@using BlazorCommon.RazorLib.TreeView
@using BlazorCommon.RazorLib.TreeView.Displays

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bstudio_folder-explorer-display"
                 StyleCssString="height: 100%">
    @{
        var dotNetSolutionState = DotNetSolutionStateWrap.Value;
    }
    
    @if (dotNetSolutionState.DotNetSolution is null)
    {
        <div>dotNetSolutionState.DotNetSolution is null</div>
        
        <input @bind="_solutionExplorerAbsolutePathString"
               @bind:event="oninput"/>
        
        <button class="bcrl_button"
                @onclick="async () => await SetSolutionExplorerOnClick(_solutionExplorerAbsolutePathString)">
            Set solution explorer
        </button>
    }
    else
    {
        <div>
            @dotNetSolutionState.DotNetSolution.DisplayName
        </div>
        
        <hr/>
        
        <div>
            @foreach (var project in dotNetSolutionState.DotNetSolution.DotNetProjects)
            {
                <div>
                    @project.DisplayName
                </div>
            }
        </div>
    }
</ContextBoundary>