@using BlazorStudio.RazorLib.Menu

<div class="bstudio_dropdown-display-default-background"
     style="@TreeViewDisplayContextMenuEvent.DefaultStyleForContextMenu">
    <MenuDisplay MenuRecord="GetContextMenu(TreeViewDisplayContextMenuEvent)"/>
</div>