@using BlazorStudio.RazorLib.OutOfBoundsClick
@using BlazorStudio.RazorLib.Menu
                            
<OutOfBoundsClickDisplay ZIndex="15"
                         OnClickCallback="_ => TreeViewContextMenuEvent.CloseContextMenu()"/>

<div class="btv_context-menu-content bstudio_dropdown-display-default-background">
    <MenuDisplay MenuRecord="GetMenuRecord(TreeViewContextMenuEvent)"/>
</div>
